<h5>3. Re-draft</h5>
<p>Once the Re-Draft Budget available has been worked out, the team can be re-drafted. A few key players will be able to return to the pitch for the new season, whilst others will find themselves unceremoniously dropped and replaced with eager rookies to keep costs down. Those players that are dropped usually have the good grace to disappear quietly, heading off to seek their fortune in the backwater leagues, to become sports pundits on the interview circuit, or to host Cabalvision shows about redecorating your hovel.</p>
<p>To redraft your team, use a new Team Draft list and create a brand new version of your team using the Re-Draft Budget available, as described on
    <a href="#p99"><a href="#p99">page 99</a></a>. The following rules apply:</p>
<ul>
    <li>Assistant coaches and cheerleaders may be carried over from your previous Team Draft list at a cost 10,000 gold pieces each, or they may be let go.</li>
    <li>Apothecaries may be carried over from your previous Team Draft list at a cost 50,000 gold pieces each, or they may be let go.</li>
    <li>Team re-rolls may be carried over from your previous Team Draft list at the cost shown on your team roster, or they may be let go.</li>
</ul>
<p>As well as hiring new players from your team roster, you can re-hire players from last season's Team Draft list. Players can be re-hired by paying their Current Value as shown on last season's Team Draft list, plus an agent's fee of 20,000 gold pieces for each previous season the player has taken part in. Simply copy the player's entire profile across from your old Team Draft list, including any Niggling Injuries, any characteristic reductions and any unspent Star Player points:</p>
<ul>
    <li>If the player has any Niggling Injuries, roll a D6 for each, applying a +1 modifier to the dice roll if the team has an apothecary:
        <ul>
            <li>On a roll of 4+, some rest and relaxation has worked wonders. The Niggling Injury you are rolling for is removed.</li>
            <li>On a roll of 1-3, the player's injury has not yet fully healed. The Niggling Injury being rolled for remains.</li>
        </ul>
    </li>
</ul>
<ins class="block errata">
    <p>A team’s Dedicated Fans value will carry over onto the new Team Draft list. Teams do not have to pay for these, they are free – though they will still affect a team’s Team Value.</p>
</ins>
<h5>Re-drafting Temporarily Retired Players</h5>
<p>Additionally, players that temporarily retired during the last season can be re-hired as described previously by paying the cost shown for them on that season's Team Draft list. Hopefully the time off has helped them to recover from their injuries:</p>
<ul>
    <li>After the player has been re-drafted, roll a D6 for each characteristic reduction they have suffered, applying a +1 modifier to the dice roll if the team has an apothecary:
        <ul>
            <li>On a roll of 4+, some time off and some intensive therapy has done the job and the characteristic is restored. However, such injuries often leave their mark and the player will gain a Niggling Injury.</li>
            <li>On a roll of 1-3, the player's injury has not yet fully healed. The characteristic reduction being rolled for remains.</li>
        </ul>
    </li>
</ul> Note that if the player has suffered more than one characteristic reduction, you should roll for each separately.
<h4>Starting a New Season</h4>
<p>After the excitement of the play-off season and the thrill of the finals, the obvious question from most coaches is: when's the next season starting? The answer, as ever, is up to the league commissioner. Starting a new season is as easy as following these three steps:</p>
<ul>
    <li>The league commissioner establishes who will be taking part in the next season. This is a good chance for coaches to step down from the league if they're struggling to find the time to play, and it's an ideal opportunity for new teams to join in the fun.</li>
    <li>Each coach who is taking part in the new league season submits a Team Draft list.</li>
    <li>Teams are divided into divisions (if necessary) and dates are set. The season begins anew!</li>
</ul>
