<h5>Casualty Rolls</h5>
<p>In league play, as well as earning SPP and gaining advancements, players can pick up lasting injuries from the Casualty table that will dog their careers. In exhibition play this does not happen. Every time a team drafted for exhibition play takes to the pitch, it does so with a full complement of healthy, uninjured players. Any Casualty rolls made against a player in one game are forgotten about should the same team be used again later. This is of particular importance for Blood Bowl tournaments, where coaches will use the same team in several games over one or more days.</p>
<p>This, of course, is not to say that Casualty rolls do not matter in exhibition play. Casualty rolls should be made as normal. This is because not only do apothecaries work as normal in exhibition play, but several teams (notably teams with the Masters of Undeath or Favoured of Nurgle special rules) have the chance to gain an extra Lineman for the remainder of the game.</p>
<h5>The Prayers to Nuffle Table in Exhibition Play</h5>
<p>In league play, the Prayers to Nuffle table fulfils a vital role, used as it is during the pre-game sequence to help balance the value of both teams. Obviously, that isn't a concern during exhibition play due to the way teams are drafted. However, the Cheering Fans Kick-off event table result means that the Prayers to Nuffle table may still used. Some of the results are clearly tailored towards league play, particularly those that generate extra SPP. Therefore, during exhibition play, coaches should use the following, shortened version of the Prayers to Nuffle table for Cheering Fans:</p>
<div class="table-wrapper">
    <table>
        <caption>Exhibition Play -Prayers to Nuffle Table</caption>
        <thead>
        <tr>
            <th scope="row">D8</th>
            <th scope="row">Result</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>
                <strong>Treacherous Trapdoor:</strong> Until the end of this half, every time any player enters a Trapdoor square, roll a D6. On a roll of 1, the trapdoor falls open. The player is immediately removed from play. Treat them exactly as if they had been pushed into the crowd.
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>
                <strong>Friends with the Ref:</strong> Until the end of this drive, you may treat a roll of 5 or 6 on the Argue the Call table as a “Well, When You Put It Like That…” result and a roll of 2-4 as an “I Don't Care!” result.
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>
                <strong>Stiletto:</strong> Randomly select one player on your team that is available to play during this drive and that does not have the Loner (X+) trait. Until the end of this drive, that player gains the Stab trait.
            </td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>
                <strong>Iron Man:</strong> Choose one player on your team that is available to play during this drive and that does not have the Loner (X+) trait. Until the end of this game, that player improves their AV by 1, to a maximum of 11+.
            </td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>
                <strong>Knuckle Dusters:</strong> Choose one player on your team that is available to play during this drive and that does not have the Loner (X+) trait. Until the end of this drive, that player gains the Mighty Blow (+1) skill.
            </td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>
                <strong>Bad Habits:</strong> Randomly select D3 opposition players that are available to play during this drive and that do not have the Loner (X+) trait. Until the end of this drive, those players gain the Loner (2+) trait.
            </td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>
                <strong>Greasy Cleats:</strong> Randomly select one opposition player that is available to play during this drive. That player has had their boots tampered with. Until the end of this drive their MA is reduced by 1.
            </td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>
                <strong>Blessed Statue of Nuffle:</strong> CChoose one player on your team that is available to play during this drive and that does not have the Loner (X+) trait. Until the end of this game, that player gains the Pro skill.
            </td>
        </tr>
        </tbody>
    </table>
</div>