<h3>Team Tiers</h3>
<p>Not all teams are created equal. Some rookie teams are more challenging to coach than others, either because of the way in which players and their different skills interact, or because background-wise they would struggle to win (after all, what chance would a Halfling team really have against a Dark Elf team?). This is entirely intentional, and over the years a great many experienced coaches have savoured the challenge of playing to win with the teams that might be considered quite unlikely to be victorious!</p>
<p>All teams belong to one of three tiers, as detailed on their Team roster:</p>
<ul>
    <li>Tier 1 is occupied by the strongest and most forgiving of teams, those that can easily recover from mistakes and mishaps.</li>
    <li>Tier 2 consists of those teams that often require a bit more experience on the part of the coach to excel. They are all highly competitive teams, but often a small mistake can prove costly!</li>
    <li>Tier 3, otherwise known as the 'Stunty teams', is home to the most difficult of teams to master. Halfling, Goblins and more, such teams are often victim to a hard time from bigger, tougher players, but they can still perform well in the hands of an experienced coach. To anyone who wants a real challenge but a truly entertaining game, Stunty teams are it!</li>
</ul>