<h3>Nuffle's Sacred Turf</h3>
<p>Wherever they are and however they are built, all Blood Bowl pitches are laid out following the same, sacred parameters as decreed in the holy book of Nuffle. Before every game, anywhere in the known world, members of the Referees and Allied Ruleskeepers Guild (RARG),will walk the length and breadth of the pitch, ensuring the measurements are exact: 60 paces wide by 100 paces long.</p>
<h4>The Blood Bowl Pitch</h4>
<p><img src="./images/pitch.png" width="474" height="312"></p>
<p>A Blood Bowl pitch is split into several distinct sections and all share the same features:</p>
<ol>
    <li>Two End Zones, one at each short end of the pitch.</li>
    <li>Two Wide Zones, one at each side of the pitch, running from End Zone to End Zone.</li>
    <li>Two Sidelines, running the length of the pitch, from End Zone to End Zone.</li>
    <li>The Centre Field, the area between each Wide Zone, running the length of the pitch from End Zone to End Zone.</li>
    <li>There are two trapdoors on the pitch, one in each half, both positioned within a Wide Zone.</li>
    <li>The pitch is then further split along its length into two halves by the Line of Scrimmage, the point at which both teams line up for the kick-off and at which much of the most violent action unfolds!</li>
</ol>
<p> Finally, the board itself is split into a grid of squares; 13 squares from Line of Scrimmage to End Zone, making the pitch 26 squares long in total, and 15 squares wide; four squares in each Wide Zone and seven squares across the Centre Field.</p>
<h4>Dugouts</h4>
<p><img src="./images/dugout.png" width="355" height="211"></p>
<p>Each team has its own dugout, a safe haven at pitch side where reserves can warm up, where the injured can be tended to and where important game information is tracked:</p>
<ol>
    <li>The Reserves box, where fit and healthy players stand ready for the next drive.</li>
    <li>The Knocked-out box, where players removed from play due to minor injury recover.</li>
    <li>The Casualty box, where seriously hurt players are tended and where those who won't play again are stored until the final whistle.</li>
    <li>Turn trackers. These are vital, helping everyone know which turn it is and how long remains of the current half and the game. The Turn trackers are covered in greater detail on pages 20 and 42.</li>
    <li>Team re-roll trackers, used to keep track of how many re-rolls a team still has to call upon in each half. Re-rolls are covered in more detail on <a href="#p24">page 24</a>.</li>
    <li>The Score tracker, where the coach keeps a record of each touchdown scored.</li>
</ol>