<h2>Contents</h2>
<div class="toc">
    <ol>
        <li>
            <a href="#p4">
                <span>The History of Blood Bowl</span>
                <span>4</span>
            </a>
        </li>
        <li>
            <a href="#p5">
                <span>World Wide Sports Wide World</span>
                <span>5</span>
            </a>
        </li>
        <li>
            <a href="#p18">
                <span>Blood Bowl Stadia</span>
                <span>18</span>
            </a>
            <ol>
                <li>
                    <a href="#p19">
                        <span>Nuffle's Sacred Turf</span>
                        <span>19</span>
                    </a>
                </li>
                <li>
                    <a href="#p20">
                        <span>Sporting Paraphernalia</span>
                        <span>20</span>
                    </a>
                </li>
            </ol>
        </li>
        <li>
            <a href="#p22">
                <span>Rules and Regulations</span>
                <span>22</span>
            </a>
            <ol>
                <li>
                    <a href="#p23">
                        <span>General Principles</span>
                        <span>23</span>
                    </a>
                </li>
                <li>
                    <a href="#p26">
                        <span>Player Status</span>
                        <span>26</span>
                    </a>
                </li>
                <li>
                    <a href="#p28">
                        <span>Player Profile</span>
                        <span>28</span>
                    </a>
                </li>
                <li>
                    <a href="#p29">
                        <span>Characteristics Tests</span>
                        <span>29</span>
                    </a>
                </li>
                <li>
                    <a href="#p30">
                        <span>Drafting a Blood Bowl Team</span>
                        <span>30</span>
                    </a>
                </li>
                <li>
                    <a href="#p31">
                        <span>Team Draft List</span>
                        <span>31</span>
                    </a>
                </li>
            </ol>
        </li>
        <li>
            <a href="#p36">
                <span>The Rules of Blood Bowl</span>
                <span>36</span>
            </a>
            <ol>
                <li>
                    <a href="#p37">
                        <span>A Game of Two Halves</span>
                        <span>37</span>
                    </a>
                </li>
                <li>
                    <a href="#p40">
                        <span>The Start of a Drive</span>
                        <span>40</span>
                    </a>
                </li>
                <li>
                    <a href="#p42">
                        <span>The Team Turn</span>
                        <span>42</span>
                    </a>
                </li>
                <li>
                    <a href="#p44">
                        <span>Movement</span>
                        <span>44</span>
                    </a>
                </li>
                <li>
                    <a href="#p48">
                        <span>Passing the Ball</span>
                        <span>48</span>
                    </a>
                </li>
                <li>
                    <a href="#p52">
                        <span>Throwing other Players</span>
                        <span>52</span>
                    </a>
                </li>
                <li>
                    <a href="#p56">
                        <span>Blocking</span>
                        <span>56</span>
                    </a>
                </li>
                <li>
                    <a href="#p60">
                        <span>Armour and Injuries</span>
                        <span>60</span>
                    </a>
                </li>
                <li>
                    <a href="#p63">
                        <span>Kicking them while they're down</span>
                        <span>63</span>
                    </a>
                </li>
                <li>
                    <a href="#p64">
                        <span>Touchdown!</span>
                        <span>64</span>
                    </a>
                </li>
                <li>
                    <a href="#p66">
                        <span>The End of a Drive</span>
                        <span>66</span>
                    </a>
                </li>
            </ol>
        </li>
        <li>
            <a href="#p68">
                <span>Post-game Sequence</span>
                <span>68</span>
            </a>
            <ol>
                <li>
                    <a href="#p69">
                        <span>The Aftermath</span>
                        <span>69</span>
                    </a>
                </li>
            </ol>
        </li>
        <li>
            <a href="#p74">
                <span>Skills and Traits</span>
                <span>74</span>
            </a>
            <ol>
                <li>
                    <a href="#p75">
                        <span>Skills</span>
                        <span>75</span>
                    </a>
                </li>
                <li>
                    <a href="#p81">
                        <span>Traits</span>
                        <span>81</span>
                    </a>
                </li>
            </ol>
        </li>
        <li>
            <a href="#p88">
                <span>Inducements in Detail</span>
                <span>88</span>
            </a>
        </li>
        <li>
            <a href="#p96">
                <span>League and Exhibition Play</span>
                <span>96</span>
            </a>
            <ol>
                <li>
                    <a href="#p97">
                        <span>Running a League</span>
                        <span>97</span>
                    </a>
                </li>
                <li>
                    <a href="#p101">
                        <span>Exhibition Play</span>
                        <span>101</span>
                    </a>
                </li>
            </ol>
        </li>
        <li>
            <a href="#p104">
                <span>The Teams</span>
                <span>104</span>
            </a>
            <ol>
                <li>
                    <a href="#p105">
                        <span>Regional Special Rules</span>
                        <span>105</span>
                    </a>
                </li>
                <li>
                    <a href="#p106">
                        <span>Team Special Rules</span>
                        <span>106</span>
                    </a>
                </li>
                <li>
                    <a href="#p107">
                        <span>Team Tiers</span>
                        <span>107</span>
                    </a>
                </li>
                <li>
                    <a href="#p129">
                        <span>Star Players</span>
                        <span>129</span>
                    </a>
                </li>
            </ol>
        </li>
    </ol>
</div>