<h3>Sporting Paraphernalia</h3>
<p>Blood Bowl teams rarely travel light. Be it the kit and armour of the players, the pom-poms and ribbons of the cheerleading squads or the bandages, saws and splints of the apothecaries, there is no end of equipment to be hauled from stadium to stadium. On the tabletop, games of Blood Bowl require somewhat less in the way of equipment, but there are certain accessories that are vital to the game.</p>
<h4>The Football</h4>
<p>Arguably, the most important model on the pitch! When not in the possession of a player (i.e., when being held and carried by a player), the football or, more simply, the ball, is placed on the ground, wholly within one otherwise empty square. When in a player's possession it will occupy a place on or adjacent to the base of that model.</p>
<p>The ball is an essential component in any game of Blood Bowl, and there are a great many ways in which it can be represented, from a simple token to a painted and based model the rival of any player.</p>
<h4>Markers</h4>
<p>The game of Blood Bowl uses several markers in conjunction with the dugouts in order to keep track of important game information:</p>
<h5>Turn Marker</h5>
<p>You will need a turn marker, and it is your responsibility, at the beginning of each and every one of your turns, to move the turn marker along the Turn tracker on your dugout.</p>
<h5>Team Re-roll Marker(s)</h5>
<p>Similarly, you are responsible for keeping track of how many team re-rolls you have and how many have been used. You may use either a single marker or several markers (one for each team re-roll) as you prefer.</p>
<h5>Score Marker</h5>
<p>A score marker is used to keep track of how many touchdowns a team has scored, by placing the marker on the zero position on the Score tracker and moving it along after a touchdown is scored.</p>
<h4>Templates</h4>
<p>Blood Bowl also makes use of three unique templates. These are the 'Random Direction template', the 'Throw-in template' and the 'range ruler'. These are used as described below.</p>
<h5>The Random Direction Template</h5>
<p>This template is used whenever the ball 'scatters', 'bounces' or 'deviates' (see <a href="#p25">page 25</a>), or when the rules call for a random direction to be determined for any other reason. Position the template as shown in the diagram below, with the centre of the template over the square the ball is within and roll a D8 to determine the direction.</p>
<p>
    <img src="./images/random-direction-template.jpg" width="311" height="312">
</p>
<h5>The Throw-in Template</h5>
<p> If the ball ever leaves the pitch, the crowd will enthusiastically throw it back. Position the Throw-in template as shown in the diagram below, with the Blood Bowl logo over the last square the ball occupied before leaving the pitch and roll a D6 to determine the direction the ball travels in.</p>
<p>Throw-ins are covered in greater detail on <a href="#p51">page 51</a>.</p>
<p>
    <img src="./images/throw-in-template.jpg" width="311" height="193">
</p>