<h5>Corner Throw-ins</h5>
<p>Should the ball leave the pitch from a corner square, the direction of the throw-in is determined by placing the Random Direction template as shown in the diagram and rolling a D3.</p>
<p>
    <img src="./images/corner-throw-ins.jpg" width="292" height="198">
</p>
<h5>The Range Ruler</h5>
<p>This is used when a Pass or Throw Team-Mate action is performed, both to determine range and, in the case of a Pass action, to determine if any opposition players can attempt to interfere with the pass.</p>
<p>
    <img src="./images/range-ruler.jpg" width="312" height="452">
</p>
<p>Pass actions are covered in greater detail on <a href="#p48">page 48</a> and Throw Team-Mate actions on <a href="#p52">page 52</a>.</p>
<h4>Blood Bowl Dice</h4>
<p>The game of Blood Bowl uses four different types of dice to determine the outcome of various actions and events. These are often referred to as 'Nuffle's sacred cubes' in homage to the patron god of Blood Bowl. Interestingly (perhaps), not all of these dice are cubes!</p>
<h5>Block Dice</h5>
<p>Unique to the game of Blood Bowl, block dice are used to resolve Block and Blitz actions against opposition players. They are six-sided dice that feature five unique icons (one is duplicated on two faces), each representing a different outcome (see <a href="#p57">page 57</a>).</p>
<h5>D6</h5>
<p>Blood Bowl also uses regular six-sided dice, marked 1 to 6. It is common for the '6' to be replaced by a logo – either that of the game or a specific team – on many Blood Bowl dice.</p>
<ul>
    <li> D3: The rules might also call for a D3 to be rolled, but an actual three-sided dice is not necessary. To roll a D3, simply roll a D6 and halve the result, rounding fractions up.</li>
</ul>
<h5>D8</h5>
<p>An eight-sided dice is often, though not exclusively, used in conjunction with the Random Direction template.</p>
<h5>D16</h5>
<p>A 16-sided dice. Less frequently used but no less vital, a D16 is used for some of the tables in the rules that follow or to select players at random from within a team.</p>
<p>
    <img src="./images/dice.jpg" width="242" height="299">
</p>