<h3>General Principles</h3>
<p>Before going further, it is worth establishing some general principles regarding some commonly used terms, dice and the game of Blood Bowl in general.</p>
<h4>The Coach and the Players</h4>
<p>Blood Bowl is a tabletop game and tabletop games are traditionally played by 'players'. But Blood Bowl is also a game that represents a sporting fixture rather than a battle between rival armies. Whilst in other tabletop games the models might represent warriors, in Blood Bowl the models represent sports players. To avoid confusion, and to adhere to the theme of the game, the rules will always refer to the models as 'players' and to you, the person rolling the dice and making the decisions, as the 'coach'. In addition, players that belong to the same team are referred to as 'team-mates', whilst players that do not belong to their team are referred to as 'opposition players'.</p>
<h5>Take-backs and Changing Ones Mind</h5>
<p>It is not uncommon for coaches to second guess themselves occasionally, saying they are about to do something before immediately changing their mind. As a general rule, you should be tolerant of this in your opponents as you will likely do it yourself! However, once dice have been rolled for any reason, you must abide by your decision; you can no longer go back and change anything that came before the dice roll!</p>
<h5>Randomly Selecting a Player</h5>
<p>The rules will often require a coach to select a player at random. To do this, simply roll a D16 and check the Team Draft list. The number rolled is the player selected. If the number rolled doesn't correspond to a player or, as is often the case, if the number rolled doesn't meet the criteria of the player to be randomly selected (perhaps the number rolled corresponds to a player not on the pitch, for example) simply re-roll the dice.</p>
<h4>The Turnover</h4>
<p>One of the most important mechanics of the game of Blood Bowl is the 'Turnover'. Many unfortunate events will cause the active team's turn to end prematurely with a Turnover, regardless of how many players have been activated.</p>
<p>A Turnover is caused:</p>
<ul>
    <li>If a player on the active team Falls Over during their own activation.</li>
    <li>If a player on the active team is Knocked Down during their team turn.</li>
    <li>If a player on the active team that is in possession of the ball is Placed Prone during their team turn.</li>
    <li>If a player on the active team that is in possession of the ball is forced to move off the pitch for any reason.</li>
    <li>If a player on the active team attempts to pick up the ball from the ground and fails, even if the bouncing ball is then caught by a player from the active team.</li>
    <li>If a player on the active team fumbles a Pass action, even if the bouncing ball is then caught by a player from the active team.</li>
    <li>If no player on the active team catches the ball after a Pass action or a Hand-off action and the ball comes to rest on the ground or in the possession of a player from the opposing team.</li>
    <li>If a Pass action is Deflected or Intercepted and the ball comes to rest either on the ground or in the possession of a player from the opposing team.</li>
    <li>If a player on the active team that is in possession of the ball is thrown by a team-mate and either fails to land safely, lands in the crowd or is eaten, even if the bouncing ball is then caught by a player from the active team.</li>
    <li>If a player on the active team is Sent-off by the referee for committing a Foul.</li>
    <li>If a touchdown is scored.</li>
</ul>
<p>This list is not exhaustive; there may be other events that will cause a Turnover. Where this is the case, these will be detailed by the rules.</p>
<p>Should a Turnover occur, any dice rolls that must be made as a result of the event that caused it are made immediately, after which the current player activation ends. The active team may not activate any more players and the current team turn ends.</p>
<p>For example, should one of your players Fall Over whilst moving, an Armour roll is made against them. If that player was in possession of the ball, the ball will then bounce. Once the ball has come to rest, the player's activation ends and you may activate no more players this turn. Finally, your team turn ends and the opposing team becomes the active team.</p>
