<h4>Dice Rolling</h4>
<p>The game of Blood Bowl uses dice rolls a great deal. The roll of a dice determines everything, be it a simple attempt to pick up the ball, or the effectiveness of a sneaky foul.</p>
<h5>Multiple Dice Rolls</h5>
<p>Often the rules will state 'roll 2D6'. In such cases, two D6 are rolled and the results added together to give a total between 2 and 12. This is a multiple dice roll.</p>
<h5>Dice Pools</h5>
<p>Sometimes the game may require two or more dice be rolled and a single result selected – for example, a coach might roll two or three block dice and select one result to apply. In this case a 'pool' of dice has been rolled.</p>
<h5>Target Number Rolls</h5>
<p>Usually, when making a single dice roll or a multiple dice roll, the rules will require you to roll a specific number followed by a '+'. This indicates that the roll is a 'target number roll'. Making a target number roll is simple. If you are required to roll a 4+ on a single D6, for example, a roll of 4, 5 or 6 would be a success, but a roll of 1, 2 or 3 would not be.</p>
<h5>Modifying Dice Rolls</h5>
<p>The rules will often call for a dice roll to be modified, particularly when making a target number roll. To do this, simply roll the dice and then add or subtract the modifier(s) shown, effectively changing the outcome of the dice roll. If the rules ever instruct you to divide a dice roll in any way, any fractions should be rounded up, unless the rules state otherwise.</p>
<h5>Rolling Off</h5>
<p>The rules may call for both coaches to roll a dice (usually either a D6 or a D3). Often a characteristic of some sort will be added to the result. This is called 'rolling off' and the highest score always wins a roll-off. In the case of a tie, roll again unless otherwise instructed.</p>
<h5>Natural Rolls</h5>
<p>A 'natural' roll is the actual number rolled on a dice, regardless of modifiers. It is not uncommon for a test to be passed if a natural 6 is rolled or failed if a natural 1 is rolled, even if modifiers might seemingly make success a certainty or failure seem impossible.</p>
<h4>Re-rolls</h4>
<p>When rolling dice, it is common for things to go wrong! Fortunately, Blood Bowl allows for certain dice rolls to be re-rolled:</p>
<ul>
    <li>The second result must always be accepted, even if it is worse than the original result.</li>
    <li>A dice can never be re-rolled more than once, regardless of the source of the re-roll.</li>
</ul>
<h5>Skill Re-Rolls</h5>
<p>Many players possess Skills that allow them to re-roll dice in a specific situation:</p>
<ul>
    <li>Skill re-rolls can only be used as detailed in the Skill's description.</li>
    <li>Skill re-rolls can be used during either team's turn, as appropriate.</li>
    <li>When a dice pool is rolled, a Skill re-roll will allow only certain results to be re-rolled, as detailed in the Skill's description.</li>
</ul>
<h5>Team Re-Rolls</h5>
<p>Every Blood Bowl team will have a number of team re-rolls to use during a game. A team will start each game with its full complement of team re-rolls. Any used during the first half of a game are replenished in full at the start of the second half, but unused team re-rolls do not carry over from the first half to the second half (or from one fixture to the next in league play):</p>
<ul>
    <li>Team re-rolls can only be used when a team is active, during its own team turn.</li>
    <li>Team re-rolls cannot be used to re-roll:
        <ul>
            <li>Deviation, scatter and bounce rolls.</li>
            <li>Armour, Injury and Casualty rolls.</li>
        </ul>
    </li>
    <li>When a dice pool is rolled, a team re-roll can be used. When a team re-roll is used, all of the dice in the dice pool must be re-rolled (not just those dice that show an undesirable result).</li>
</ul>