<h4>Deviate, Scatter or Bounce</h4>
<h5>Deviate</h5>
<p>This represents a kicked ball or desperate pass veering wildly off target:</p>
<ul>
    <li>When the ball deviates, it moves a number of squares equal to the roll of a D6 from the square in which it was placed, in a direction determined by rolling a D8 and referring to the random direction template.</li>
    <li>If the ball lands in a square that is occupied by a Standing player that has not lost their Tackle Zone (see <a href="#p26">page 26</a>), that player must attempt to catch the ball (see <a href="#p51">page 51</a>). If they fail, it will bounce as described opposite.</li>
    <li>If the ball lands in an unoccupied square or a square that is occupied either by a Standing player that has lost their Tackle Zone or by a Prone or Stunned player, it will bounce before it comes to rest on the ground.</li>
</ul>
<h5>Scatter</h5>
<p>This happens whenever a ball (or a thrown player) in the air travels in an unexpected way:</p>
<ul>
    <li>When the ball scatters, it moves from the square in which it was placed three times before landing, each time moving one square in a direction determined by rolling a D8 and referring to the Random Direction template.</li>
    <li>A player cannot attempt to catch the ball should it enter the square they occupy on the first or second scatter roll, as it is still high in the air at this point.</li>
    <li>If after the third scatter roll the ball lands in a square that is occupied by a Standing player that has not lost their Tackle Zone, that player must attempt to catch the ball. If they fail, it will bounce.</li>
    <li>If after the third scatter roll the ball lands in an unoccupied square or a square that is occupied by either a Standing player that has lost their Tackle Zone or by a Prone or Stunned player, it will bounce before it comes to rest on the ground.</li>
</ul>
<h5>Bounce</h5>
<p>This happens for many reasons, most often when the ball (or the player in possession of it!) hits the ground or when a player drops it:</p>
<ul>
    <li>When the ball bounces, it moves one square in a direction determined by rolling a D8 and referring to the Random Direction template.</li>
    <li>If the ball bounces into a square that is occupied by a Standing player that has not lost their Tackle Zone, that player must attempt to catch the ball. If they fail, it will bounce again.</li>
    <li>If the ball bounces into a square that is occupied either by a Standing player that has lost their Tackle Zone or by a Prone or Stunned player, the ball will continue to bounce until it is caught by a Standing player or it comes to rest in an unoccupied square.</li>
</ul>