<h3>Player Status</h3>
<p>In games of Blood Bowl, the status of a player is very important. A player that is standing can achieve far more than one that is not! A player that has been pushed to the ground can recover quite quickly compared to one that has to regain their senses before playing on.</p>
<p>Most of the time, a player will be 'Standing'. At other times a player will be either 'Prone' or 'Stunned'.</p>
<h4>Standing Players</h4>
<p>Players that are Standing when activated have the greatest freedom to move. Players that are Standing during the opposing team's turn are able to hinder their plays.</p>
<h5>The Tackle Zone</h5>
<p>A Standing player exerts control over the squares around them. This is called their 'Tackle Zone' and covers all of the eight squares adjacent to a Standing player, as shown in the diagram.</p>
<p>
    <img src="./images/tackle-zones.jpg" width="317" height="490">
</p>
<h5>Open Players</h5>
<p>A player that is not being Marked, i.e., a player that is not within the Tackle Zone of any opposition players (as described below), is said to be 'Open'. Open players can move freely and perform actions more easily, free from the interference of opposition players.</p>
<p>
    <img src="./images/open-players.jpg" width="315" height="184">
</p>
<h5>Marking and Being Marked</h5>
<p>Players use their Tackle Zone to interfere with opposition players, 'Marking' them and hindering their actions:</p>
<ul> If a player occupies a square that is within an opposition player's Tackle Zone, they are being 'Marked' by that opposition player.
    <li>If a player has an opposition player within their Tackle Zone, they are 'Marking' that opposition player.</li>
    <li>A Standing player Marks all opposition players that are within their Tackle Zone.</li>
    <li>A player can be Marked by multiple opposition players at the same time.</li>
    <li>A player that has lost their Tackle Zone for any reason cannot Mark an opposition player, though they can be Marked themselves.</li>
</ul>
<p>Players never Mark team-mates – they will only Mark opposition players. Marking opposition players, and being Marked by them in turn, has multiple in-game effects.</p>
<h5>Losing Tackle Zones</h5>
<p>Prone and Stunned players lose their Tackle Zone. It may also happen that, due to an in-game effect, a special rule or a Skill used by an opposition player, a Standing player loses their Tackle Zone.</p>
<p>If a player has lost their Tackle Zone they:</p>
<ul>
    <li>Cannot Mark other players.</li>
    <li>Cannot attempt to interfere with a Pass action.</li>
    <li>Cannot attempt to catch the ball.</li>
</ul>
<p>They will also be unable to use certain other Skills that require a player to have a Tackle Zone.</p>
