<h4>Prone and Stunned Players</h4>
<p>Players that are not Standing will be either 'Prone' or 'Stunned'. All such players occupy one square on the pitch – the square they were in when they became Prone or Stunned – no matter how big the player.</p>
<h5>Prone</h5>
<p>When a player is Prone, the model is laid face-up on the pitch. A Prone player can do nothing until they have stood up. A Prone player may be activated during their team turn to perform any action that includes Movement Allowance. Doing so allows the player to sacrifice a portion of their movement to stand up (see <a href="#p44">page 44</a>).</p>
<h5>Stunned</h5>
<p>When a player is Stunned, the model is laid face-down on the pitch. A Stunned player is not eligible to be activated during their team turn. When a team's turn ends, even if it ends with a Turnover, any players that were Stunned when the turn began will automatically roll over and become Prone. If a player became Stunned during the course of their own team turn, they must remain Stunned until the end of their team's next turn, when they will automatically roll over and become Prone.</p>
<h5>Becoming Prone or Stunned</h5>
<p>Usually, a player becomes Prone as the result of 'Falling Over' or being 'Knocked Down'. When a player Falls Over or is Knocked Down, they also 'risk injury', meaning they may become Stunned or worse. Alternatively, a player may be 'Placed Prone' without risk of injury.</p>
<h6>Placed Prone</h6>
<p>Being Placed Prone is often a deliberate choice a player is able to make due to a Skill they possess. At other times an in-game effect, a special rule or a Skill used by an opposition player may cause one of your players to be Placed Prone by your opponent:</p>
<ul>
    <li>If a player is Placed Prone during their activation, their activation ends immediately.</li>
    <li>If a player in possession of the ball is Placed Prone during their team turn, a Turnover is caused.</li>
    <li>If a player that is in possession of the ball is Placed Prone, the ball will bounce from the square in which the player was Placed Prone.</li>
    <li>When a player is Placed Prone, there is no risk of injury and no Armour roll is made against them.</li>
</ul>
<h6>Falling Over</h6>
<p>Players may 'Fall Over' when they attempt to Dodge, or they may simply Fall Over their own feet as they sprint across the pitch too quickly. When a player Falls Over it is self-inflicted, and it can only happen during a player's own activation:</p>
<ul>
    <li>If a player Falls Over, a Turnover is caused.</li>
    <li>If a player Falls Over, they become Prone and risk injury. The coach of the opposing team makes an Armour roll against them as described on <a href="#p29">page 29</a>:
        <ul>
            <li>If the player's armour is broken as described on <a href="#p60">page 60</a>, an Injury roll is made against them and they will become Stunned or worse.</li>
            <li>If the player's armour is not broken, they remain Prone.</li>
        </ul>
    </li>
    <li>If a player Falls Over whilst in possession of the ball, the ball will bounce from the square in which the player Falls Over, after making an Armour roll (and possible Injury roll) against them.</li>
</ul>
<h6>Being Knocked Down</h6>
<p>Players are often 'Knocked Down' as the result of a vicious Block action from an opposition player or when they attempt to perform a Block action against an opposition player who proves to be bigger, tougher or luckier than they are. Players can also be Knocked Down by projectiles thrown by the crowd (including spells), or by some other in-game effect, by a special rule or by a Skill used by an opposition player:</p>
<ul>
    <li>If a player is Knocked Down during their team turn, a Turnover is caused.</li>
    <li>When a player is Knocked Down, they become Prone and risk injury. The coach of the opposing team makes an Armour roll against them:
        <ul>
            <li> If the player's armour is broken, an Injury roll is made against them and they will become Stunned or worse.</li>
            <li> If the player's armour is not broken, they remain Prone.</li>
        </ul>
    </li>
    <li>If a player is Knocked Down whilst in possession of the ball, the ball will bounce from the square in which the player was Knocked Down, after making an Armour roll (and possible Injury roll) against them.</li>
</ul>