<h3>Player Profile and Characteristic Tests</h3>
<p>Blood Bowl players are a hardy breed. Powerfully built, athletic and agile individuals of all known races, they take to the pitch seeking glory, wealth and lasting fame for themselves and their team. They play on in spite of all but the most serious of injury – indeed, it must be noted that often even death isn't a career ending event, more an… inconvenience!</p>
<h3>Player Profile</h3>
<p>The strengths and weaknesses of the players that make up a team are represented by a series of characteristics, collectively known as the player's 'profile':</p>
<ul>
    <li>Movement Allowance (MA) and Strength (ST) are both shown as simple values, in which case a higher number is better.</li>
    <li>Agility (AG), Passing Ability (PA) and Armour Value (AV) are all shown as target numbers; a number followed by a '+' symbol, as described on <a href="#p24">page 24</a>. In the case of AG and PA a lower number is better, whereas in the case of AV a higher number is better.</li>
</ul>
<p> No characteristic may ever be improved more than twice or be improved beyond the maximum shown on the table below. No characteristic may ever be reduced below the minimum shown on the table below:</p>
<div class="table-wrapper">
    <table>
        <caption>Characteristic Table</caption>
        <thead>
        <tr>
            <th>Characteristic</th>
            <th>MA</th>
            <th>ST</th>
            <th>AG</th>
            <th>PA</th>
            <th>AV</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Maximum</th>
            <td>9</td>
            <td>8</td>
            <td>1+</td>
            <td>1+</td>
            <td>11+</td>
        </tr>
        <tr>
            <th>Minimum</th>
            <td>1</td>
            <td>1</td>
            <td>6+</td>
            <td>6+</td>
            <td>3+</td>
        </tr>
        </tbody>
    </table>
</div>
<h3>Characteristic Modifiers</h3>
<p>When making a test against any of a player's characteristics, there are a number of modifiers that may apply, some making success harder, some making it easier. Where modifiers apply to a Characteristic test, the rules will list and detail them:</p>
<ul>
    <li>If the characteristic is given a simple value, the modifier is applied as written – for example, if a player with a Strength characteristic of 3 is given a +1 Strength modifier, their Strength characteristic becomes 4.</li>
    <li>Where a characteristic is presented as a target number, the modifier is always applied to the dice roll, as described on <a href="#p24">page 24</a>.</li>
</ul>
<p>If the rules ever instruct you to divide a dice roll in any way, any modifiers that also apply to the roll should be applied after the roll has been divided.</p>