<h3>Characteristics Tests</h3>
<h4>Movement Allowance (MA)</h4>
<p>This characteristic shows the number of squares the player may move when activated during their team turn. There are several actions a player can perform that allow them to move, ranging from a simple Move action to a dramatic Blitz (actions are dealt with in detail on <a href="#p43">page 43</a>).</p>
<p></p>
<h4>Strength (ST)</h4>
<p>A player's Strength characteristic represents how physically strong they are. Strength is used during Block actions, both when performing them and when defending against them.</p>
<h4>Agility (AG)</h4>
<p>A player's Agility characteristic represents their Skill and dexterity in different situations, be it how easily they can pick up the ball or their ability to break away from a scrum.</p>
<h5>Agility Tests</h5>
<p>You will often be required to test against a player's Agility. An Agility test is a target number roll made on a single D6, as described on <a href="#p24">page 24</a>. In addition, if the roll is a natural 6, the test is automatically passed. However, if the roll is a natural 1, the test is automatically failed.</p>
<h4>Passing Ability (PA)</h4>
<p>This characteristic represents the player's ability to pass the ball (and in some cases other players and perhaps even bombs!).</p>
<h5>Passing Ability Tests</h5>
<p>You will often be required to test against a player's Passing Ability. A Passing Ability test is a target number roll made on a single D6. In addition, if the roll is a natural 6, the test is automatically passed. However, if the player has a PA of '-' or if the roll is a natural 1, the test is 'Fumbled', as described on pages 49 and 53.</p>
<h4>Amour Value (AV)</h4>
<p>A player's Armour Value is a hard-working characteristic. Most simply, it represents how the quality and durability of a player's sports kit protects them from harm. But AV can also represent how tough a player is. Some players may appear lightly armoured but have a high AV characteristic, indicating a high degree of physical durability. Others may appear very heavily armoured yet have a low AV characteristic, showing that in spite of their kit, they are delicate and prone to injury!</p>
<h5>Amour Rolls</h5>
<p>Whenever a test is required against a player's Armour Value, it is the coach of the opposing team that makes it. This is referred to as an 'Armour roll'. An Armour roll is a target number roll made on 2D6. If the roll is successful, the player's armour is 'broken'. If the roll is unsuccessful, the player's armour is not broken and protects them from harm.</p>
<h4>Skills &amp; Traits</h4>
<p>In addition to their characteristics, a player may possess one or more Skills or Traits.</p>
<h5>Skills</h5>
<p>Skills improve a player's performance in key areas, be it granting them a free re-roll in specific situations, or allowing them to modify a dice roll. Some players begin their career with natural talents that are represented in this way – others develop new Skills as they improve during a league.</p>
<h5>Traits</h5>
<p>Whilst Skills can be learned by a player during a league, Traits represent a unique ability a player brings to the game. Traits can be both positive and negative. Whatever the case, it is most unusual for a player to develop a new Trait during a league (though not impossible); players possess Traits when hired and retain them over their entire career.</p>
<h4>"What Could Possibly Go Wrong?"</h4>
<p>Players may have an AG or PA of 1+. It might seem that such players cannot fail when testing against these characteristics, but that is, unfortunately, not the case! Remember that when testing against a player's AG or PA, any roll of a natural 1 is a fail. In addition, there will often be modifiers to apply.</p>
<p>For example, a player with an AG of 1+ may find themselves subject to a -2 modifier, in which case you would need to roll a 3 or higher to pass an Agility test, because should you roll a 2 and apply a -2 modifier the result would be 0, which is lower than 1.</p>
