<h3>Drafting a Blood Bowl Team</h3>
<p>Before an aspiring coach can lead their team to glory, the first thing they need is a team to lead! The fundamentals of team creation remain unchanged whether a team is being created for league or exhibition play. The rules that follow explain how to construct a team of players and Sideline Staff, ready to take to the gridiron and seek eternal glory (or ignominy)!</p>
<h4>Team Rosters</h4>
<p>Blood Bowl is a game played by a great variety of races, and these in turn are split into an even greater number of sub-categories. All of these varied teams are represented by 'team rosters', lists used when creating, or 'drafting', a team of that type, which detail the players available to hire, their profiles and Hiring Fee.</p>
<p>A team roster will also tell you how much team re-rolls cost to buy, whether or not the team can include an apothecary, and will list any special rules the team has.</p>
<h5>Special Rules</h5>
<p>Most Blood Bowl teams are quite straight forward in their behaviour and approach to the game. Others, however, are not. All teams have one or more special rules in order to better portray their character (see <a href="#p105">page 105</a>).</p>
<h4>Team Draft Lists</h4>
<p>When a team is drafted, a 'Team Draft list' is completed. This contains spaces in which to record each player permanently hired to the team, their name, position, Hiring Fee and player profile, along with spaces to record experience gained in the form of 'Star Player Points' (see <a href="#p70">page 70</a>) and advancements earned during league play. The 'Current Value' of each player is recorded, which is equal to their Hiring Fee plus the 'Value Increase' of any advancements they accrue (see <a href="#p72">page 72</a>).</p>
<p>There is also space to list other important team details, such as the Sideline Staff permanently hired, the number of team re-rolls bought and how many Dedicated Fans follow the team, as well as the team type, name and the name of the coach.</p>
<p>Finally, the Team Draft list contains spaces to record how many gold pieces the team has in its Treasury (see <a href="#p35">page 35</a>) and the total value of the team when all of the players, Sideline Staff, team re-rolls and player advances are accounted for.</p>
<h5>Game Record Sheet</h5>
<p>The reverse of the Team Draft list features the Game Record sheet. This is used to keep track of 'league fixtures' and 'cross division friendlies' played over the course of a league, including details of opposing teams and the names of their coaches, and the number of fans in attendance along with petty cash awarded, Inducements hired (see <a href="#p38">page 38</a>), Current Team Value and any other notes coaches wish to keep.</p>
<p>Once the game is over, this is also where the outcome is recorded along with winnings and various other notable events as described on <a href="#p69">page 69</a>.</p>
