<h4>Team Draft Budget</h4>
<p>The Team Draft Budget is the amount of gold pieces (GP) you have to spend on your rookie team:</p>
<ul>
    <li>When drafting your team for league play, you have a budget of 1,000,000 gold pieces to spend on players, Sideline Staff, team re-rolls and so forth.</li>
    <li>When drafting a team for exhibition play, you may have a higher budget (see <a href="#p101">page 101</a>).</li>
</ul>
<h5>Hiring Players</h5>
<p>Players are the only compulsory element on any Blood Bowl team. Each team roster details all of the players available to a team of that type and their Hiring Fee. When drafting a team, you should select the players you want to permanently hire for your team, pay their hiring cost from your Team Draft Budget and make a record of the player on the Team Draft list.</p>
<p>A team may not include more players of a certain type than are allowed by the team roster. For example, an Elven Union team is allowed 0-2 Blitzers, meaning an Elven Union team may include zero, one or two Blitzers, but may not include three.</p>
<h5>Number of Players</h5>
<p>The first and most important thing to be aware of when drafting a Blood Bowl team is the minimum and maximum number of players permitted:</p>
<ul>
    <li>Every Blood Bowl team must contain a minimum of eleven (11) permanently hired players when it is first drafted.</li>
    <li>No Blood Bowl team can ever contain more than sixteen (16) permanently hired players.</li>
</ul>
<p>It is important to note that, during the course of a league season, the number of players a team can field may fall below 11 due to injury and death. This is permitted (if not ideal!) and is covered in more detail in the Take on Journeymen section on <a href="#p38">page 38</a>.</p>
<h5>Player Positions</h5>
<p>There are distinctions to be made between the players within a team, separating them by their role within the game, from the humble Lineman to the more specialised roles performed by the 'positional' players.</p>
<dl>
    <dd>Linemen</dd>
    <dd>The backbone of any team: All teams will have a player type that they are permitted to take 0-12 or 0-16 of. Regardless of name (for many races call their Linemen by another name), this Player type is the team's 'Lineman' positional.</dd>
    <dt>Blitzers</dt>
    <dd>On offence, Blitzers force gaps through the opposition. In defence they will violently target key opposition players.</dd>
    <dt>Throwers</dt>
    <dd>It is often the Thrower that takes the role of offensive captain – calling the plays and making split second decisions.</dd>
    <dt>Catchers</dt>
    <dd>The safe pair of hands on any team, the Thrower's trusted receivers. It is the Catcher's job to receive passes safely.</dd>
    <dt>Runners</dt>
    <dd>Several teams employ Runners in place of Throwers and Catchers, relying on speed rather than risk passing interference.</dd>
    <dt>Blockers</dt>
    <dd>A popular position on the defensive line of any team that relies on a more physical play-style.</dd>
    <dt>Other Positions</dt>
    <dd>Many teams of different races employ players that do not fit into any specific role. This may be a sneaky Assassin or a Goblin mounted on a pogo stick (it's in the regulations!). There is almost no end to the innovation Blood Bowl teams show.</dd>
    <dt>Big Guys</dt>
    <dd>The term Big Guy is a colloquial one used by Blood Bowl fans to identify the giants of the game; Ogre, Minotaur, Troll players and more fall under this heading.</dd>
</dl>
<h5>Purchasing Team Re-Rolls</h5>
<p>Any team can purchase team re-rolls. These represent the time spent training and the team's ability to react in a split second to mistakes and turn them around. The cost reflects the time and effort different teams must invest to achieve the same broad level of training:</p>
<ul>
    <li>Every team may purchase 0-8 team re-rolls when it is first drafted, for the cost shown on the team roster, paid for from the Team Draft Budget.</li>
    <li>During a league, additional team re-rolls may be purchased at a later date, in the Hiring, Firing and Temporarily Retiring step of the post-game sequence (see <a href="#p72">page 72</a>), but the team must pay double. For example, if a team is able to purchase team re-rolls for 60,000 gold pieces when it is drafted, additional team re-rolls purchased later on during a league season will cost 120,000 gold pieces.</li>
    <li>When calculating Team Value (see <a href="#p35">page 35</a>), team re-rolls add only the cost shown on the team roster, even if they are purchased at double the cost later on in a league.</li>
</ul>
<h5>Hiring Sideline Staff</h5>
<p>Sideline Staff can be of vital assistance to their team, helping to tip the balance in several seemingly minor but often vital ways.</p>
<h6>The Coach</h6>
<p>Every team is owned and managed by a coach. As discussed previously, this is you, the reader. As such, when completing the Team Draft list, the coach section should be filled in with your name or a suitable nickname.</p>
<h6>0-6 Assistant Coaches</h6>
<p>Any team can hire a number of assistant coaches. These represent the specialists brought in to help with various aspects of the game. The benefit of assistant coaches is covered on <a href="#p41">page 41</a>:</p>
<ul>
    <li>Every team may hire assistant coaches when it is first drafted, for the cost of 10,000 gold pieces each, paid for from the Team Draft budget.</li>
    <li>Additional assistant coaches may be purchased during a league, in the Hiring, Firing and Temporarily Retiring step of the post-game sequence (see <a href="#p72">page 72</a>), for the cost of 10,000 gold pieces each.</li>
</ul>
<h6>0-12 Cheerleaders</h6>
<p>All teams can hire a number of cheerleaders. Be it dancers, musicians or even performing mascots, a good cheerleading squad can work the crowd up and encourage the players to try harder. The benefit of cheerleaders is covered on <a href="#p41">page 41</a>:</p>
<ul>
    <li>Every team may hire cheerleaders when it is first drafted, for the cost of 10,000 gold pieces each, paid for from the Team Draft Budget.</li>
    <li>Additional cheerleaders may be purchased during a league, in the Hiring, Firing and Temporarily Retiring step of the post-game sequence (see <a href="#p72">page 72</a>), for the cost of 10,000 gold pieces each.</li>
</ul>
<h6>0-1 Apothecary</h6>
<p>The apothecary fulfils a vital role in any team. It is their job to keep the valuable players fit and healthy. Apothecaries work hard on the sidelines, patching up minor injuries and giving urgent care to more serious injuries before they can end a player's career. An apothecary's role is covered in detail on <a href="#p62">page 62</a>:</p>
<ul>
    <li>Not every team can hire an apothecary. Whether a team can or cannot include an apothecary will be noted on the team roster.</li>
    <li>If a team can hire an apothecary, it may only ever have one on the roster.</li>
    <li>Teams that can hire an apothecary can do so when they are first drafted, or during the Hiring, Firing and Temporarily Retiring step of the post-game sequence of any game (see <a href="#p72">page 72</a>) for a cost of 50,000 gold pieces.</li>
    <li>Teams able to hire an apothecary may Induce a number of additional Wandering Apothecaries for a single game during a league in the Hire Inducements step of the pre-game sequence (see <a href="#p38">page 38</a>).</li>
</ul>
