<h5>Other Information</h5>
<p>As mentioned previously, the Team Draft list contains spaces to record several other important details. This includes the team Treasury, the size of their fan following, and the cash value of the team as a whole.</p>
<h6>Treasury</h6>
<p>Blood Bowl teams can amass vast wealth. Most of this is reinvested immediately into wages, recruitment and running costs, but a careful coach can build up quite the fortune.</p>
<p>Any gold pieces not spent when drafting the team are recorded in the Treasury section of the Team Draft list. Over the course of a league season, winnings are added to this. The Treasury is used to purchase Inducements (see <a href="#p38">page 38</a>) as well as new additions to the team, such as new players or Sideline Staff.</p>
<h6>Dedicated Fans</h6>
<p>Every Blood Bowl team is supported by a strong following of Dedicated Fans, those loyal supporters that will follow their team in good times and bad. This dedicated fan base is made both of those eager to show their support for a local franchise and those from further afield who support the team for less easily identified reasons. Many dedicated fans support a team because their parents did. Others do so simply because they find the team colours fetching.</p>
<p>When a team is drafted, it will have a Dedicated Fans characteristic of 1 recorded on the Team Draft list (representing roughly 1,000 Dedicated Fans). Over the course of a league season, this characteristic will increase and decrease, though it will never fall below 1.</p>
<p>Additionally, when a team is drafted it can improve its Dedicated Fans characteristic by 1, up to a maximum of 6, at a cost of 10,000 gold pieces per improvement. For example, a team may improve its Dedicated Fans characteristic from 1 to 3 at a cost of 20,000 gold pieces from its Team Draft budget.</p>
<h6>Team Value</h6>
<p>The final thing recorded on the Team Draft list is the value of the team:</p>
<dl>
    <dt>Team Value (TV)</dt>
    <dd>This is worked out by adding up the Current Value of all the players on the team, plus the cost of all Sideline Staff and team re-rolls the team has. The number of Dedicated Fans and the amount of gold pieces held in the Treasury do not add anything to TV.</dd>
    <dt>Current Team Value (CTV)</dt>
    <dd>This is worked out exactly as above, but minus the Current Value of any players that suffered a Miss Next Game Casualty table result during the team's last game and will be unavailable to play next game (see <a href="#p61">page 61</a>). This is the version of Team Value used to work out how much Petty Cash is granted to the team with the lower value during the pre-game sequence, as described on <a href="#p38">page 38</a>.</dd>
</dl>
<h4>Inducements and Teams Drafted for Exhibition Play</h4>
<p>Normally, teams are drafted for league play, and in league play Inducements are dealt with in the pre-game sequence, as described on pages 38 and 89 However, when a team is drafted for exhibition play, this is not the case. Instead, you may spend as much or as little of your Team Draft Budget as you wish on Inducements available to your team, as described on <a href="#p89">page 89</a>, provided your team contains the minimum of 11 players, not including Induced players such as Mercenaries or Star Players.</p>
