<h3>A Game of Two Halves</h3>
<p>A Blood Bowl game is split into two halves of roughly equal length, with a third period played should an important game that needs a clear winner be tied at the end of the second half. The third period is referred to as 'extra time'. In emulation of this tradition, a game of Blood Bowl played on the tabletop is split into two halves, each consisting of eight team turns. Therefore each half consists of 16 turns and the game overall of 32 turns.</p>
<h4>Setting Up The Game</h4>
<p>Setting up a game of Blood Bowl is simple. All that is needed is a pitch and a pair of coaches ready for action, each equipped with a team of models and the appropriate markers. With the pitch placed between them, each coach places their dugout beside one of the End Zones. This indicates which half of the pitch belongs to their team.</p>
<p>Both coaches then place their teams on the pitch and their markers onto their dugout before quickly explaining the details of their team for their opponent's benefit.</p>
<h4>Pre-Game Sequence</h4>
<p>Once the game is set up, the pre-game sequence begins and both coaches run through the following sequence of steps:</p>
<ol>
    <li>
        <strong>The Fans:</strong> Both coaches roll a D3 and add their Dedicated Fans characteristic. This determines each team's 'Fan Factor'.
    </li>
    <li>
        <strong>The Weather:</strong> Both coaches roll a D6, adding the results together and consulting the Weather table.
    </li>
    <li>
        <strong>Take on Journeymen:</strong> If a team cannot field 11 players for a league game, the team temporarily takes on a number of Journeyman players.
    </li>
    <li>
        <strong>Inducements:</strong> Both coaches decide if they will purchase any Inducements for the game ahead, paid for from a team's Treasury, from 'Petty Cash', or both.
    </li>
    <li>
        <strong>The Prayers to Nuffle Table:</strong> If one team now has a lower CTV than the other, it may be able to roll on the Prayers to Nuffle table.
    </li>
    <li>
        <strong>Determine Kicking Team:</strong> A coin is flipped or dice are rolled to determine which team will kick-off (play defence) and which will receive (play offence) on the opening drive.
    </li>
</ol>
<h4>1. The Fans</h4>
<p>Blood Bowl games are always well attended. As well as the Dedicated Fans, many 'fair-weather fans' come along purely for the spectacle! Though they rarely care much about either team, they will invariably pick one to cheer for.</p>
<h5>Fan Factor</h5>
<p>This is a combination of Dedicated Fans and fair-weather fans in attendance. To determine Fan Factor:</p>
<ul>
    <li>Each coach rolls a D3. This represents how many fair-weather fans are cheering for their team.</li>
    <li>Each coach adds their Dedicated Fans characteristic to the number of fair-weather fans cheering their team.</li>
</ul>
<p>The total indicates how many thousands of fans are cheering for your team and should be recorded in the 'FF' (Fan Factor) section of your Game Record sheet.</p>
<h4>2. The Weather</h4>
<p>Blood Bowl is a game played and followed by hardy individuals, so it takes more than a little inclement weather to halt a game! However, extreme weather conditions can have quite an impact upon the game.</p>
<p>Each coach rolls a D6. Add the results together and refer to the Weather table below:</p>
<div class="table-wrapper">
    <table>
        <caption>Weather Table</caption>
        <thead>
        <tr>
            <th scope="row">2D6</th>
            <th scope="row">Result</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="col" class="nowrap">2</th>
            <td> Sweltering Heat: Some players faint in the unbearable heat! D3 randomly selected players from each team that are on the pitch when a drive ends are placed in the Reserves box. They must miss the next drive.</td>
        </tr>
        <tr>
            <th scope="col" class="nowrap">3</th>
            <td> Very Sunny: A glorious day, but the clear skies and bright sunlight interfere with the passing game! Apply a -1 modifier every time a player tests against their Passing Ability.</td>
        </tr>
        <tr>
            <th scope="col" class="nowrap">4-10</th>
            <td> Perfect Conditions: Neither too cold nor too hot. A warm, dry and slightly overcast day provides perfect conditions for Blood Bowl.</td>
        </tr>
        <tr>
            <th scope="col" class="nowrap">11</th>
            <td> Pouring Rain: A torrential downpour leaves the players soaked and the ball very slippery! Apply a -1 modifier every time a player makes an Agility test to catch or pick-up the ball, or to attempt to interfere with a pass.</td>
        </tr>
        <tr>
            <th scope="col" class="nowrap">12</th>
            <td> Blizzard: Freezing conditions and heavy falls of snow make the footing treacherous. Apply a -1 modifier every time a player attempts to Rush an extra square. Additionally, the poor visibility means that only Quick and Short passes can be attempted.</td>
        </tr>
        </tbody>
    </table>
</div>