<h4>3. Take on Journeymen</h4>
<p>If, during the pre-game sequence of a league fixture or cross division friendly, a team is unable to field 11 players it will make use of temporary players known as 'Journeymen':</p>
<ul>
    <li>A Journeyman is always a Lineman positional player, selected from the team's 0-12 or 0-16 option.</li>
    <li>A Journeyman is always a normal player of their type, with the exception that they gain the Loner (4+) trait (see <a href="#p85">page 85</a>), representing their lack of familiarity with their temporary team-mates.</li>
    <li>Journeymen may take the total number of players on the team temporarily above 16 including injured players, but cannot take the number of players available for this game above 11.</li>
    <li>Each Journeyman counts towards CTV. The value they add is equal to the hiring cost of an ordinary player of their type as detailed in the team roster. Once you know how many Journeymen your team will include, you should recalculate your CTV.</li>
</ul>
<p>Note that a team drafted for exhibition play must contain at least 11 players. This step can be skipped during exhibition play.</p>
<h4>4. Inducements</h4>
<del class="block errata">
    <p>Ahead of any league fixture, play-off season game or cross division friendly, each team can spend gold pieces from their Treasury, from Petty Cash (see below) or from both, to purchase any Inducements available to them. These are then recorded on the team's Game Record sheet.</p>
</del>
<ins class="block errata">
    <p>Ahead of any league fixture, play-off game, or friendly, teams may get the opportunity to spend gold pieces from their Treasury or Petty Cash (or both) to purchase Inducements. If one team has a lower CTV (including the value of any Journeymen players) then it will be given 'petty cash' to spend on Inducements. To work out how much petty cash a team will receive, follow the steps below in order:</p>
    <ul>
        <li>The team with the higher CTV gets the opportunity to spend any gold pieces from their Treasury to purchase any Inducements.</li>
        <li>The team with the lower CTV then gets an amount of petty cash equal to the difference in CTV between the two teams, plus an amount equal to the amount of gold the other team spent from its Treasury.</li>
        <li>The team with the lower CTV can then spend this petty cash on Inducements, though any petty cash not spent is lost. They may not spend gold pieces from their Treasury.</li>
    </ul>
</ins>
<p>Note that, as described on <a href="#p102">page 102</a>, Inducements are handled differently in exhibition play.</p>
<h5>Petty Cash</h5>
<p>If one team has a lower CTV (including the value of any Journeymen players), it is given 'petty cash' to spend on Inducements. The amount of petty cash given is exactly equal to the difference in CTV between the two teams. Petty cash cannot be kept; it must be spent on</p>
<p>Inducements for the game ahead. Any gold pieces not spent are lost.</p>
<h5>Treasury</h5>
<p>Both teams are free to spend gold pieces from their Treasury to purchase Inducements. If one of the teams has been given petty cash, gold pieces from its Treasury can be added to this. Gold pieces spent in this way are immediately deducted from the Treasury.</p>
<h5>Common Inducements</h5>
<p>The Inducements available are many and varied. Listed on <a href="#p89">page 89</a> are the 'common' Inducements, always available at the prices shown there. Certain teams will have access to Inducements unique to them and future supplements will detail those and more.</p>
<h5>The Underdog</h5>
<p>Once finished purchasing Inducements, you should recalculate your CTV. If at this point one team has a lower CTV, that team is referred to as the 'Underdog' and its coach may be eligible to appeal for 'divine intervention' by rolling on the Prayers to Nuffle table in Step 5.</p>
<h4>5. The Prayers to Nuffle Table</h4>
<p>In league play (but not in exhibition play), the Prayers to Nuffle table may often be used during this step of the pre-game sequence. In both league and exhibition play, it may sometimes be used at the start of a drive, as described on <a href="#p41">page 41</a>.</p>
<p>During this step of the pre-game sequence, the coach of the Underdog team may roll once on the Prayers to Nuffle table for every full 50,000 gold pieces of difference in CTV.</p>
<p>Roll a D16 and consult the table on the page opposite, re-rolling any duplicate results, and make a note of the result(s). All results rolled on this table come into effect at the start of the next drive. Most results last until the end of the next drive (i.e., the drive which starts immediately after this roll is made), then they cease to apply. Others last until the end of the half and a few results last until the end of the game.</p>
<h4>6. Determine Kicking Team</h4>
<p>Every game of Blood Bowl starts with a coin toss to determine which team will be the 'kicking team' (the defence) and which team will be the 'receiving team' (the offence). In a real Blood Bowl game, this simple ceremony is much beloved of Blood Bowl fans as it is invariably when violence first breaks out between the teams, the fans and, quite often, the officials!</p>
<p>On the tabletop, this ritual can be recreated either by tossing a Blood Bowl coin, or by a D6 roll-off. Once it has been determined which is the kicking team and which is the receiving team, the opening drive of the game begins in earnest with the set-up and kick-off as described on <a href="#p40">page 40</a>.</p>
