<div class="table-wrapper">
    <table>
        <caption>Prayers to Nuffle Table</caption>
        <thead>
        <tr>
            <th scope="row">D16</th>
            <th scope="row">Result</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>
                <strong>Treacherous Trapdoor:</strong> Until the end of this half, every time any player enters a Trapdoor square, for any reason, roll a D6. On a roll of 1, the trapdoor falls open and the player is immediately removed from play. Treat them exactly as if they had been pushed into the crowd. If the player was in possession of the ball, it bounces from the trapdoor square.
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>
                <strong>Friends with the Ref:</strong> Until the end of this drive, you may treat a roll of 5 or 6 on the Argue the Call table as a “Well, When You Put It Like That…” result and a roll of 2-4 as an “I Don't Care!” result.
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>
                <strong>Stiletto:</strong> Randomly select one player on your team that is available to play during this drive and that does not have the Loner (X+) trait. Until the end of this drive, that player gains the Stab trait.
            </td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>
                <strong>Iron Man:</strong> Choose one player on your team that is available to play during this drive and that does not have the Loner (X+) trait. Until the end of this game, that player improves their AV by 1, to a maximum of 11+.
            </td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>
                <strong>Knuckle Dusters:</strong> Choose one player on your team that is available to play during this drive and that does not have the Loner (X+) trait. Until the end of this drive, that player gains the Mighty Blow (+1) skill.
            </td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>
                <strong>Bad Habits:</strong> Randomly select D3 opposition players that are available to play during this drive and that do not have the Loner (X+) trait. Until the end of this drive, those players gain the Loner (2+) trait.
            </td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>
                <strong>Greasy Cleats:</strong> Randomly select one opposition player that is available to play during this drive. That player has had their boots tampered with! Until the end of this drive, their MA is reduced by 1.
            </td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>
                <strong>Blessed Statue of Nuffle:</strong> Choose one player on your team that is available to play during this drive and that does not have the Loner (X+) trait. Until the end of this game, that player gains the Pro skill.
            </td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>
                <strong>Moles under the Pitch:</strong> Until the end of this half, apply a -1 modifier every time any player attempts to Rush an extra square (-2 should it occur that both coaches have rolled this result).
            </td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td>
                <strong>Perfect Passing:</strong> Until the end of this game, any player on your team that makes a Completion earns 2 SPP, rather than the usual 1 SPP.
            </td>
        </tr>
        <tr>
            <th scope="row">11</th>
            <td>
                <strong>Fan Interaction:</strong> Until the end of this drive, if a player on your team causes a Casualty by pushing an opponent into the crowd, that player will earn 2 SPP exactly as if they had caused a Casualty by performing a Block action.
            </td>
        </tr>
        <tr>
            <th scope="row">12</th>
            <td>
                <strong>Necessary Violence:</strong> Until the end of this drive, any player on your team that causes a Casualty earns 3 SPP, rather than the usual 2 SPP.
            </td>
        </tr>
        <tr>
            <th scope="row">13</th>
            <td>
                <strong>Fouling Frenzy:</strong> Until the end of this drive, any player on your team that causes a Casualty with a Foul action earns 2 SPP exactly as if they had caused a Casualty by performing a Block action.
            </td>
        </tr>
        <tr>
            <th scope="row">14</th>
            <td>
                <strong>Throw a Rock:</strong> Until the end of this drive, should an opposition player Stall, at the end of their team turn you may roll a D6. On a roll of 5+, an angry fan throws a rock at that player. The player is immediately Knocked Down.
            </td>
        </tr>
        <tr>
            <th scope="row">15</th>
            <td>
                <strong>Under Scrutiny:</strong> Until the end of this half, any player on the opposing team that commits a Foul action is automatically seen by the referee, even if a natural double is not rolled.
            </td>
        </tr>
        <tr>
            <th scope="row">16</th>
            <td>
                <strong>Intensive Training:</strong> Randomly select one player on your team that is available to play during this drive and that does not have the Loner (X+) trait. Until the end of this game, that player gains a single Primary skill of your choice.
            </td>
        </tr>
        </tbody>
    </table>
</div>