<h2>The History Blood Bowl</h2>
<p>Blood Bowl has always been a part of our world. The sacred tablets of Lustria,
    old beyond all human reckoning, tell of a time when the world was young,
    when the mythical Old Ones and their servants, the Slann, introduced the
    worship of Nuffle – the god of violent sports – to the world.
    Millennia later, the hieroglyphs of ancient Nehekhara tell of a time when mighty
    heroes of the sport played and died, and were laid to rest in the grandest
    mausoleums their sponsors could contrive, there to live out eternity beside kings in a
    time before being raised from undeath to play once more.
    Ages later still, Blood Bowl would be re-discovered by mortals and go on to take
    over the world, ushering in an eternal age where wars would be fought not on muddy
    battlefields but on bloody astrogranite, to the entertainment of baying
    crowds the whole world over!</p>