<h3>The Start of a Drive</h3>
<p>Once the coin toss or roll-off to determine which team will kick and which will receive is resolved, the coaches will take turns to set up their teams, ready for action and with the shouted instructions of coaching staff ringing in their ears. The coach of the kicking team then places the ball, determines how accurate (or how wildly inaccurate) the kick is, and rolls on the Kick-off Event table.</p>
<h4>Start of Drive Sequence</h4>
<p>At the beginning of every drive, both coaches run through the following sequence of steps:</p>
<ol>
    <li>
        <strong>Set-Up:</strong> Starting with the kicking team, both coaches set up their teams.
    </li>
    <li>
        <strong>The Kick-Off:</strong> A player on the kicking team kicks the ball to the offence.
    </li>
    <li>
        <strong>The Kick-Off Event:</strong> The coach of the kicking team rolls on the Kick-off Event table.
    </li>
</ol>
<h5>Too Many Players</h5>
<p>Sometimes, too many players will make their way onto the pitch. If this is spotted before the first turn of the drive, simply correct the mistake. If, however, the mistake is not spotted until after the first turn of the drive has begun, any extra player(s) will be Sent-off for committing a Foul, exactly as described on <a href="#p63">page 63</a>. Which player(s) are Sent-off is decided by the coach of the opposing team.</p>
<h4>1. Set-up</h4>
<p>Both coaches place all of their available players on the pitch. If there are more than 11 players available, those not chosen to play the drive are placed in the Reserves box until the start of the next drive. A team may not set up more than 11 players at the start of a drive.</p>
<p>In later drives, the number of available players is likely to be reduced, with players languishing in the Knocked-out or the Casualty box. This is permitted, if not ideal! If you are unable to set up 11 players at the start of a later drive, you must set up all available players – no players can be placed in the Reserves box if fewer than 11 players are available.</p>
<p>The kicking team set up first, followed by the receiving team, as follows:</p>
<ul>
    <li>Both teams set up fully within the area between their own End Zone and the Line of Scrimmage. Neither team may set up any players beyond the Line of Scrimmage in the opposition's half.</li>
    <li>Each team can set up a maximum of two players in each Wide Zone. In other words, each team can set up four players in Wide Zones, providing they are split equally with two players per Widezone.</li>
    <li>A team must set up a minimum of three players in squares within the Centre Field, directly adjacent to the Line of Scrimmage.</li>
</ul>
<p>Note that should a team find itself reduced to only three players or fewer, it may concede without penalty before setting-up, as described on <a href="#p67">page 67</a>. Should you wish to play on, the available players should be set up on the Line of Scrimmage, as described above.</p>
<h4>2. The Kick-off</h4>
<p>Once both teams have been set-up ready for the drive ahead, the coach of the kicking team makes the kick-off.</p>
<h5>Nominate kicking player</h5>
<p>Although not always essential, certain rules require a specific player to be nominated as the kicking player. It is therefore useful to adopt the habit of nominating a kicking player:</p>
<ul>
    <li>The kicking player cannot be on the Line of Scrimmage (unless there are only three, or fewer, players belonging to their team on the pitch).</li>
    <li>The kicking player cannot be in either Wide Zone.</li>
</ul>
<h5>Place the kick</h5>
<p>A good kick can help the defence and hinder the offence, and where to place the ball is an important consideration when kicking. The coach of the kicking team places the ball in any square they wish, occupied or unoccupied, in the receiving team's half of the pitch.</p>
<h5>The Kick Deviates</h5>
<p>Kicking the ball is not a precise art, and a bad kick can see the ball land wildly off target. The coach of the kicking team rolls both a D8 and a D6 to determine deviation, as described on <a href="#p25">page 25</a>. At this moment, the ball itself is still high in the air. No attempts can be made to catch it until after the 'kick-off event' has been resolved.</p>
