<h3>The Team Turn</h3>
<p>A game of Blood Bowl is a hectic affair, and to make sense of all of the action, the game on the tabletop is broken down into a series of team turns, during which each coach will activate their players one at a time. In this way, the drama of the game is recreated in a manageable and controlled way.</p>
<h4>Team Turns</h4>
<p>Once the Kick-off has been resolved, the game continues in a simple but strict sequence of team turns:</p>
<ol>
    <li>
        <strong>Receiving Team's Turn:</strong> At the start of any drive the receiving team, the offence, takes the first team turn.
    </li>
    <li>
        <strong>Kicking Team's Turn:</strong> After the receiving team have taken their turn, play passes to the team that kicked, the defence.
    </li>
</ol>
<p>This sequence is repeated until the drive ends with a touchdown, the end of a half or the end of the game:</p>
<ul>
    <li>At the beginning of the first half, which team kicks-off and which team receives will have been decided by the coin toss, as described on <a href="#p38">page 38</a>.</li>
    <li>At the beginning of the second half, play is reversed, with the team that received and played offence at the start of the game now becoming the kicking team, and vice versa.</li>
    <li>Should any drive end with a touchdown before the end of the half, the team that scored the touchdown will kick to the team that conceded the touchdown.</li>
</ul>
<p>A team turn ends either once all eligible players have been activated, or as the result of a Turnover (see <a href="#p23">page 23</a>).</p>
<h5>Active and Inactive Team</h5>
<p>During your team turn, your team is referred to as the 'active' team. During your team turn, your opponent's team is referred to as the 'opposition' or the 'inactive' team.</p>
<h4>Moving the Turn Marker</h4>
<p>As mentioned previously, it is your responsibility at the beginning of each and every one of your team turns to move the turn marker along the Turn tracker on your dugout. If either coach forgets to move their turn marker, a polite reminder to do so is in order.</p>
<h4>Player Activations</h4>
<p>During your team turn, you may activate each Standing and/or Prone player to perform one action available to them, but you are not obliged to activate every player. Players that begin their team turn Stunned cannot be activated. In ideal circumstances, you will be able to activate every player without mishap, but all too often a turn will end with a Turnover, meaning that some players will inevitably not have been activated when the turn ends.</p>
<h5>Declaring Actions</h5>
<p>When you activate a player, you must declare the action that player will perform (and, if required, the target of that action). You may not move a player and then declare that player will perform a Pass, Throw Team-Mate, Hand-off, Blitz or Foul action. If a player is moved without first declaring their action, the player can only perform a simple Move action.</p>
<p>You are never obliged to complete a declared action. For example, if you declare a player will perform a Pass action, you may decide against performing the Pass action itself once movement is complete. If, after moving, you decide against performing the declared action, the action still counts as having been performed this team turn and cannot be performed by another player.</p>
