<h6>Move</h6>
<p>The most basic action. Any player on the active team that is not Stunned can perform a simple Move action. Movement is covered in more detail on <a href="#p44">page 44</a>.</p>
<h6>Pass</h6>
<p>Once per team turn, a player on the active team may attempt to pass the ball to another square, as described on <a href="#p48">page 48</a>.</p>
<h6>Hand-Off</h6>
<p>Once per team turn, a player on the active team may attempt to hand the ball off to another Standing player from their team that is in an adjacent square, as described on <a href="#p51">page 51</a>.</p>
<h6>Throw Team-Mate</h6>
<p>Once per team turn, instead of performing an ordinary Pass action, a player on the active team with the 'Throw Team-Mate' trait may attempt to throw a player from their team that has the 'Right Stuff' trait. A team may not perform both a Pass action and a Throw Team-Mate action during the same team turn. Throwing team-mates is covered in more detail on <a href="#p52">page 52</a>.</p>
<h6>Block</h6>
<p>'Block' is the term used when a player targets an opposition player with an attack, hoping to push them back, knock them to the ground and perhaps cause a lasting injury. A Standing player on the active team can target a Standing opposition player that is within their Tackle Zone with a Block action (or a Special action granted by a Skill or Trait that can be performed instead of a Block action), but cannot move before or after performing the action. Blocking is covered in more detail on <a href="#p56">page 56</a>.</p>
<h6>Blitz</h6>
<p>Once per team turn, a player on the active team may perform a Blitz action, an action that combines together both a Move action and a Block action (or a Special action granted by a Skill or Trait that can be performed instead of a Block action). When a player performs a Blitz action, they may move as normal. However, performing the Block action costs a Blitzing player one square of their Movement Allowance. The player may move both before and after performing the Block action if they wish, and may follow-up if the target of the Block action is pushed back. Movement is covered in more detail on <a href="#p44">page 44</a> and Blocking is covered in more detail on <a href="#p56">page 56</a>.</p>
<h6>Foul</h6>
<p>Once per team turn, a player on the active team may commit a Foul action, stealthily sticking the boot into a downed opponent when they hope no one is looking! Fouling is covered in more detail on <a href="#p63">page 63</a>, but be warned that such flagrant disregard for the rules may result in the active player being Sent-off and the team turn ending with a Turnover.</p>
<h6>Special Actions</h6>
<p>In addition to these seven main actions, there are numerous Skills and Traits a player may possess that allow them to perform another, unique action. Examples include Hypnotic Gaze, which allows a player to transfix an opponent, causing them to temporarily lose their Tackle Zone so that they cannot Mark other players.</p>
<p>Such actions are called 'Special actions' and are detailed in the appropriate Skill or Trait description. A full list of Skills, Traits and descriptions of how they work can be found on <a href="#p74">page 74</a>.</p>
<h4>Activated Players</h4>
<p>During a game of Blood Bowl, it can become difficult to keep track of which players have already been activated during their team turn, and which players are yet to be activated.</p>
<p>To help with this, at the start of each team turn you should make sure that all of your players are facing towards the same End Zone. Once a player has been activated, the model should be turned around, so that it is facing towards the other End Zone. In this way, both coaches are able to tell easily which players have been activated and which players have yet to be activated.</p>
<p>A Standing player that loses their Tackle Zone should be turned to face one of the Sidelines. The player should be left facing the Sideline until their next activation begins.</p>
