<h3>Movement</h3>
<p>During their team turn, a number of actions allow a player to move about the pitch when activated, as mentioned previously. Sometimes a player may even be moved involuntarily as a result of a block or another in-game effect. This section deals with how players are moved around the pitch and how other players, particularly the opposition, can hinder their progress.</p>
<h4>Moving Players</h4>
<p>When a player moves, they may move a number of squares equal to their Movement Allowance. A player may move in any direction: forwards, backwards, left, right and diagonally, into any adjacent, unoccupied square. Moving players are not obliged to use their full Movement Allowance and may move zero squares should you wish. Players cannot voluntarily move off the pitch</p>
<h5>Unoccupied Squares</h5>
<p>Any square that is not occupied is said to be 'unoccupied'. Players may move into any unoccupied square that is adjacent to the square they occupy. Only players can occupy a square, if a square contains only the ball or a trapdoor, it is unoccupied.</p>
<h5>Occupied Squares</h5>
<p>If there is a Standing, Prone or Stunned player from either team in a square, that square is said to be 'occupied'. Players may not move into or through an occupied square. The ball can never come to rest on the ground in an occupied square and will continue to bounce until it lands in an unoccupied square or is caught by a Standing player.</p>
<h5>Standing Up</h5>
<p>A Prone player can do nothing without first standing up. A Prone player can stand up when they are activated to perform any action that includes movement:</p>
<ul>
    <li>The only time a Prone player can stand up is during their team turn, at the start of their activation.</li>
    <li>Standing up costs a Prone player three (3) squares of their Movement Allowance.</li>
    <li>If a Prone Player with a Movement Allowance of 2 or less (before or after modification) wishes to stand up, roll a D6:
        <ul>
            <li>On a roll of 4+, the player is able to stand up, using their full Movement Allowance to do so.</li>
            <li>On a roll of 1-3, the player is unable to right themselves. They remain Prone and their activation ends.</li>
            <li>A Prone player with a Movement Allowance of 2 or less (before or after modification) may Rush after standing up.</li>
        </ul>
    </li>
</ul>
<p>If a Prone player is not activated during their team turn, they will remain Prone until they are activated in a later turn.</p>
<h5>Rushing</h5>
<p>Whenever a player performs any action that includes movement, they may attempt to gain an extra one or two squares of Movement Allowance. This is called 'Rushing'. These extra squares of Movement Allowance may be used to move, to perform a Block action as part of a Blitz action (see <a href="#p59">page 59</a>), to Jump over a Prone or Stunned player (see <a href="#p45">page 45</a>) and so on, just as if they were normal movement:</p>
<ul>
    <li>At the end of the player's movement, declare that they will Rush and move them one more square.</li>
    <li>After the Rushing player has been moved, roll a D6:
        <ul>
            <li>On a roll of 2+, the Rushing player moves without mishap.</li>
            <li>On a roll of 1 (before or after modification), the Rushing player trips and Falls Over as described on <a href="#p27">page 27</a>.</li>
        </ul>
    </li>
</ul>
<p>If the Rushing player is still Standing after Rushing once, they may attempt to Rush a second time following the same process.</p>
<p>When a player is Rushing, the D6 roll comes before any other rolls that may be required, be they to Dodge, pick up the ball or anything else.</p>
