<h5>Marked Players and Dodging</h5>
<p>If an active player is being Marked, as described on <a href="#p26">page 26</a>, by one or more opposition players, they must 'Dodge' in order to vacate the square they currently occupy and move safely into another, otherwise they will be tackled and will Fall Over in the square they wish to move into.</p>
<p>To Dodge, a player must test against their Agility as described on <a href="#p29">page 29</a>. Declare that the player will Dodge from the square in which they are being Marked, and move them into any adjacent, unoccupied square:</p>
<ul>
    <li>The Agility test is made after the dodging player has been moved, Rushing first if necessary.</li>
    <li>No matter how many players were Marking them, the dodging player is only required to make one Agility test to Dodge.</li>
    <li>If the dodging player is being Marked in the square they have moved into, apply a -1 modifier per player Marking them.</li>
</ul>
<p>Note that if the player is Open in the square they have moved into, there are no modifiers to apply for being Marked. However, there may be modifiers to apply for other reasons, such as Skills and Traits being used by an opposing player.</p>
<h5>Open Players</h5>
<p>A player that is Open does not need to Dodge to move from square to square. An Open player may move into an unoccupied square that is within the Tackle Zone of one or more opposition players, so that they are now Marking those players and being Marked by them in turn. The moving player may then stop moving or may continue to move, but will have to Dodge as described above.</p>
<h4>Jumping Over Stunned Players</h4>
<p>Once during their activation, a moving player can attempt to Jump over a single adjacent square that is occupied by a Prone or Stunned player, into an unoccupied square beyond. The squares the active player can attempt to Jump into will depend upon the direction in which they are moving, as shown in the diagrams below:</p>
<p>
    <img src="./images/jumping-prone.jpg" width="426" height="196">
</p>
<p>Jumping over a square in this way uses Movement Allowance exactly as if the player had moved into and out of the square they are jumping over. To Jump over a square that contains a Prone or Stunned player, a player must test against their Agility as described on <a href="#p29">page 29</a>:</p>
<ul>
    <li>The Agility test is made after the jumping player has been moved, Rushing first if necessary.</li>
    <li>Apply a negative modifier equal to the number of players that were Marking the jumping player in the square they jumped from or equal to the number of players that are Marking the jumping player in the square they have jumped into, whichever is the greatest. For example, if a player jumps from a square in which they were being Marked by one player into a square in which they are being Marked by two players, a -2 modifier is applied.</li>
    <li>If the jumping player was being Marked in the square they jumped from, they are not required to Dodge.</li>
</ul>
<p>Note that if the jumping player was Open in the square they have jumped from and is Open in the square they have jumped into, there are no modifiers to apply for being Marked. However, there may be modifiers to apply for other reasons.</p>
<p>If the Agility test is failed, the jumping player will Fall Over in the square they have jumped into. If, however, the Agility test is failed on a natural 1, the jumping player is placed back in the s</p>
