<h4>Blitz Actions</h4>
<p>Once per team turn, as mentioned on <a href="#p43">page 43</a>, a single Standing or Prone player on the active team may be activated to perform a Blitz action. When a player Blitzes, they may move exactly as described in this section; standing up and dodging as necessary, and they may attempt to gain extra squares of Movement Allowance by Rushing. In addition, they may perform a Block action (or a Special action granted by a Skill or Trait that can be performed instead of a Block action) at any point before, during or after their movement. The only notable difference is that when a player Blitzes, performing a Block action (or a Special action granted by a Skill or Trait that can be performed instead of a Block action) costs the player one square of their Movement Allowance.</p>
<p>Block actions and Blitz actions are covered in greater detail on <a href="#p56">page 56</a>.</p>
<h4>Picking Up the Ball</h4>
<p>If a player voluntarily moves into a square in which the ball is placed, they must attempt to pick it up. This attempt to pick up the ball is made after any dice rolls required to Rush, Dodge or Jump into the square have been made, but before any other dice rolls are made.</p>
<p>To pick up the ball, a player must test against their Agility as described on <a href="#p29">page 29</a>:</p>
<ul>
    <li>If the player is Open when attempting to pick up the ball, there are no modifiers to apply.</li>
    <li>If the player is being Marked, apply a -1 modifier per player Marking them.</li>
    <li>If a player attempts to pick up the ball and fails, the ball will bounce as described on <a href="#p25">page 25</a>. Should this happen, a Turnover is caused, even if the bounce is caught by another player on the active team.</li>
</ul>
<p>After successfully picking up the ball, the player may continue moving if they wish and if they are able.</p>
<p>Note that should a player ever be moved involuntarily into a square in which the ball is placed, they cannot attempt to pick it up. Instead the ball will bounce, but no Turnover is caused.</p>
