<h3>Passing the Ball</h3>
<p>Traditionally in Blood Bowl, play progresses with a series of dramatic passes and catches. Throwers endeavour to get the ball safely to a team-mate, who, thanks to their strength, speed and agility, is in position to run with the ball into the opposition End Zone. Whilst in recent years many players that prefer to run with the ball have risen to superstardom, it is still the spectacle of the passing game that excites the crowds the most!</p>
<h4>Pass Actions</h4>
<p>Once per team turn, a player on the active team may perform a Pass action in order to pass the ball to another square. This target square may be occupied by a Standing, Prone or Stunned player (from either team) or it may be unoccupied.</p>
<p>A Pass action can be further defined as being a 'Quick pass', a 'Short pass', a 'Long pass' or a 'Long bomb', based on the range as described opposite.</p>
<p>The player may move before performing the action following all of the normal movement rules, but once the pass has been resolved they may not move further and their activation comes to an end. The player performing the action does not need to be in possession of the ball when activated, they may pick the ball up as they move (see <a href="#p46">page 46</a>):</p>
<dl>
    <dt>Measure Range and Declare Target Square:</dt>
    <dd> The range ruler is used to measure the range to any possible target squares, before the target square is chosen and declared.</dd>
    <dt>Test For Accuracy:</dt>
    <dd> The coach of the player performing the action rolls a D6 to determine the accuracy of the pass.</dd>
    <dt>Passing Interference:</dt>
    <dd> Unless the pass was fumbled, one opposition player may be able to attempt to interfere with the pass, hoping to 'Deflect' or 'Intercept' it.</dd>
    <dt>Resolve Pass Action:</dt>
    <dd> If the pass was neither fumbled nor interfered with, the pass itself is resolved!</dd>
</dl>
<h5>Measure Range and Declare Target Square</h5>
<p>Once you have activated a player and declared that they will perform a Pass action, you are free to measure the range between the player and any possible target squares whenever you wish, even interrupting the player's movement to do so.</p>
<h6>Measuring Range</h6>
<p>Range is measured by placing the circle at the end of the range ruler over the centre of the square occupied by the player performing the action. The other end of the range ruler is positioned so that the ruler covers the target square, with the line along the centre of the range ruler passing through the centre of the target square. The target square will fall into one of the four bands marked on the range ruler:</p>
<ul>
    <li>I: Quick pass</li>
    <li>II: Short pass</li>
    <li>III: Long pass</li>
    <li>IIII: Long bomb</li>
</ul>
<p>Any squares that are beyond the reach of the range ruler or that are intersected by the end of the range ruler are out of range and cannot be the target square. If the line between two range bands intersects the target square, it is considered to fall within the higher range band. If it is not clear which range band the target square falls into, refer to the Passing Range chart shown below:</p>
<p>
    <img src="./images/passing-measuring-range.jpg" width="315" height="281">
</p>
<h5>Declare Target Square</h5>
<p>After you have measured for range and moved the player, you must indicate and declare which square will be the target square. The target square may be occupied by a Standing, Prone or Stunned player (from either team) or it may be unoccupied.</p>
