<h5>Test For Accuracy</h5>
<p>The player performing the action now tests against their Passing Ability to see if the pass is 'accurate', 'inaccurate', 'wildly inaccurate' or is 'fumbled'. A Passing Ability test is made as described on <a href="#p29">page 29</a>, applying the following modifiers based on range:</p>
<ul>
    <li>If the player is attempting a Quick pass, there is no modifier.</li>
    <li>If the player is attempting a Short pass, apply a -1 modifier.</li>
    <li>If the player is attempting a Long pass, apply a -2 modifier.</li>
    <li>If the player is attempting a Long bomb, apply a -3 modifier.</li>
</ul>
<p>In addition, the following modifiers may also apply:</p>
<ul>
    <li>If the player is being Marked, apply an additional -1 modifier per player Marking them.</li>
</ul>
<h6>Accurate Passes</h6>
<p>If the Passing Ability test is passed, or if the roll is a natural 6, the pass is accurate and the ball will land in the target square.</p>
<h6>Inaccurate Passes</h6>
<p>If the Passing Ability test is failed, the pass is inaccurate and the ball will scatter from the target square before landing.</p>
<h6>Wildly Inaccurate Passes</h6>
<p>If, when making the Passing Ability test, the dice roll is a 1 after modifiers have been applied, the ball will deviate from the square occupied by the player performing the Pass action before landing.</p>
<h6>Fumbled Passes</h6>
<p>There is always a chance something will go horribly wrong and the pass will be fumbled:</p>
<ul>
    <li>If, when making the Passing Ability test, a natural 1 is rolled, the pass has been fumbled.</li>
    <li>If the player has a PA of '-', the pass is automatically fumbled.</li>
</ul>
<p>When a Pass action is fumbled, the activation of the player performing it ends immediately. The ball is dropped, bouncing from the square occupied by the player performing the action, and a Turnover is caused.</p>
