<h5>Passing Interference</h5>
<p>If the pass was not fumbled, a single player from the opposing team may be able to attempt to interfere with the pass, hoping to 'Deflect' the pass or, in some rare cases, to 'Intercept' the pass. To determine if any opposition players are able to attempt passing interference, place the range ruler so that the circle at the end is over the centre of the square occupied by the player performing the Pass action. Position the other end so that the ruler covers the square in which the ball will land. Note that, depending upon the Passing Ability test, this may not be the target square!</p>
<p>To attempt to interfere with a pass, an opposition player must be:</p>
<ul>
    <li>A Standing player that has not lost their Tackle Zone (as described on <a href="#p26">page 26</a>).</li>
    <li>Occupying a square that is between the square occupied by the player performing the Pass action and the square in which the ball will land.</li>
    <li>In a square that is at least partially beneath the range ruler when placed as described above.</li>
</ul>
<p>
    <img src="./images/passing-interference.jpg" width="316" height="248">
</p>
<p>If any opposition players are in a position to attempt to interfere with a pass, the coach of the opposing team nominates one to make the attempt and tests against their Agility, applying the following modifiers to represent the difficulty of attempting to snatch the ball from the air:</p>
<ul>
    <li>If the player is attempting to interfere with an accurate pass, apply a -3 modifier.</li>
    <li>If the player is attempting to interfere with an inaccurate pass, apply a -2 modifier.</li>
    <li>If the player is attempting to interfere with a wildly inaccurate pass, apply a -1 modifier.</li>
    <li>Apply an additional -1 modifier if the player is being Marked.</li>
</ul>
<h6>Successful Passing Interference</h6>
<p>If the Agility test is passed, the player's attempt to interfere with the pass has been successful and the pass has been 'Deflected'. The pass is interrupted and the action immediately ends.</p>
<p>The player that made the Deflection must now attempt to convert that Deflection into an 'Interception' by catching the ball as described opposite. If they do, they have made an Interception. If the player fails to catch the ball, it will scatter from the square they occupy.</p>
<p>Following any successful passing interference, if the ball comes to rest on the ground in an empty square or in the possession of a player from the opposing team, a Turnover is caused. If, however, the ball is caught by a player on the active team after scattering, no Turnover is caused.</p>
<h5>Resolve Pass Action</h5>
<p>If the pass was neither successfully interfered with nor fumbled, the pass itself is now resolved. Where the ball lands is determined based on the result of the Passing Ability test as described previously. If the ball lands in a square occupied by a Standing player that has not lost their Tackle Zone, that player must attempt to catch it, as described opposite. If no player on the active team catches the ball after a Pass action and the ball comes to rest on the ground or in the possession of a player from the inactive team, a Turnover is caused.</p>
