<h4>Catching the Ball</h4>
<p>There are many instances when the rules will call upon a player to attempt to catch the ball. A player that is able to catch the ball must attempt to do so, even if their coach does not want that player to catch the ball!</p>
<p>To catch the ball, a player must test against their Agility as described on <a href="#p29">page 29</a>, applying the following modifiers:</p>
<ul>
    <li>If the player is attempting to catch an accurate pass or a Hand-off (see <a href="#p49">page 49</a> and below), there are no modifiers.</li>
    <li>If the player is attempting to convert a Deflection into an Interception, apply a -1 modifier.</li>
    <li>If the player is attempting to catch a bouncing ball, apply a -1 modifier.</li>
    <li>If the player is attempting to catch a ball that has been thrown-in by the crowd (see opposite), apply a -1 modifier.</li>
    <li>If the player is attempting to catch a ball that has scattered or deviated into the square they occupy, apply a -1 modifier.</li>
</ul>
<p> In addition to the above, the following modifiers may also apply:</p>
<ul>
    <li>If the player is being Marked, apply an additional -1 modifier per player Marking them.</li>
</ul>
<h4>Hand-off</h4>
<p>In addition to performing a Pass action, once per team turn a player on the active team may perform a Hand-off action and simply hand the ball to a Standing team-mate in an adjacent square. The player may move before performing the Hand-off action following all of the normal movement rules, but once the action has been made and the ball handed to a team-mate, their activation comes to an end and they cannot move further. As with passing, the player performing the Hand-off action does not need to be in possession of the ball when activated, they may pick it up as they move (see <a href="#p46">page 46</a>).</p>
<p>A Hand-off action is not a Pass action, and there is no test required to perform the action itself and even a player with a PA of '-' may perform a Hand-off action. The player performing the action simply needs to be in possession of the ball. The player receiving the ball, however, must test against their Agility to catch it, as described above.</p>
<h4>Throw-ins</h4>
<p>Should the ball leave the pitch at any time, the crowd will throw it back into play. This is done using the Throw-in template:</p>
<ul>
    <li>Position the Throw-in template (as shown in the diagram below) with the Blood Bowl logo over the last square the ball occupied before leaving the pitch and roll a D6 to determine the direction the ball travels in.</li>
    <li>When the ball is thrown-in by the crowd, it travels 2D6 squares from the last square it occupied before leaving the pitch, in the direction indicated by the Throw-in template, before landing.</li>
    <li>If the ball lands in a square that is occupied by a Standing player that has not lost their Tackle Zone, that player must attempt to catch it. If they fail, or if the ball lands in an unoccupied square or a square that is occupied either by a Standing player that has lost their Tackle Zone or by a Prone or Stunned player, it will bounce before it comes to rest on the ground.</li>
</ul>
<p>Should the ball leave the pitch again following an over-enthusiastic throw-in, repeat the above process.</p>
<p>
    <img src="./images/throw-ins.jpg" width="316" height="199">
</p>
<h5>Corner Throw-ins</h5>
<p>Should the ball leave the pitch from a corner square, the direction of the throw-in is determined by placing the Random Direction template, as shown in the diagram on <a href="#p21">page 21</a>, and rolling a D3.</p>
