<h3>Throwing other Players</h3>
<p>One tactic that has proven a hit with fans the world over is one that seems to have been first employed in aggression, rather than as a cunning way to score. In the old days, it was not uncommon for Big Guy players to pick up particularly diminutive opponents and simply toss them into the waiting crowds! These days it is normal to see a Big Guy pitching a puny pal towards the opposition End Zone… or simply forgetting what's going on and eating them!</p>
<h4>Throw Team-Mate Actions</h4>
<p>Once per team turn, instead of performing a Pass action, a player on the active team with the 'Throw Team-Mate' trait can attempt to throw a team-mate with the 'Right Stuff' trait as if they were a ball. The target square of a Throw Team-Mate action may be occupied or unoccupied and the action can be further defined as being a 'Quick Throw' or a 'Short Throw', based on the range. Unlike a Pass action, a Throw Team-Mate action that is not fumbled will always scatter before landing.</p>
<p>If the player to be thrown is Standing, they can attempt to land safely after being thrown (see <a href="#p54">page 54</a>). If they are Prone or Stunned, they can still be thrown but cannot land safely.</p>
<p>The player performing the action may move first following all of the normal movement rules, but must be in a square adjacent to the player they wish to throw when the throw is made; they cannot pick up and carry a team-mate before throwing them. Once the throw has been resolved, they may not move further and their activation comes to an end:</p>
<ul>
    <li>
        <strong>Measure Range and Declare Target Square:</strong> The range ruler may be used to determine the range between the throwing player and any possible target squares, before the target square is chosen and declared.
    </li>
    <li>
        <strong>Test For Quality:</strong> The coach of the player performing the action rolls a D6 to determine the quality of the throw.
    </li>
    <li>
        <strong>Resolve Throw:</strong> Where the thrown player lands, and how easily, depends upon the quality of the throw. If the throw is fumbled, the thrown player is dropped and will bounce.
    </li>
</ul>
<h5>Measure Range and Declare Target Square</h5>
<p>As with a Pass action, once the player performing the Throw Team-Mate action has been activated and the action declared, you are free to measure the range between the player and any possible target squares whenever you wish, even interrupting the player's movement to do so.</p>
<h6>Measuring Range</h6>
<p>When throwing a team-mate, range is measured using the range ruler exactly as described on <a href="#p48">page 48</a>. However, when throwing a team-mate, only half of the range ruler is used. Therefore the target square will fall into one of the two bands marked on the first half of the range ruler:</p>
<ul>
    <li>
        <strong>I:</strong> Quick throw
    </li>
    <li>
        <strong>II:</strong> Short throw
    </li>
</ul>
<p>Any squares that are beyond the reach of the range ruler or that are intersected by the end of the range ruler are out of range and cannot be the target square. If the line between the two range bands intersects the target square, the target square is considered to be within the higher range band. If it is not clear which range band the target square falls into, refer to the Throw Range chart shown below:</p>
<p>
    <img src="./images/throw-team-mate-measuring-range.jpg" width="315" height="266">
</p>
<h6>Declare the Target Square</h6>
<p>Once range has been measured and the player performing the action has completed their movement, the target square is declared. The target square must be in range and may be occupied or unoccupied.</p>
