<h5>Test for Quality</h5>
<p>Once the range has been measured and the target square declared, a Passing Ability test is made to determine if the throw is 'superb', 'successful', 'terrible' or is 'fumbled'. The player performing the action makes a Passing Ability test as described on <a href="#p29">page 29</a>, applying the following modifiers based on range:</p>
<ul>
    <li>If the player is attempting a quick throw, there is no modifier.</li>
    <li>If the player is attempting a short throw, apply a -1 modifier.</li>
</ul>
<p>In addition to the above, the following modifiers may also apply:</p>
<ul>
    <li>If the player is being Marked, apply an additional -1 modifier per player Marking them.</li>
</ul>
<h6>Superb Throws</h6>
<p>If the Passing Ability test is passed, or if the roll is a natural 6, the throw is superb. After scattering, the thrown player will find it easier to land.</p>
<h6>Successful Throws</h6>
<p>If the Passing Ability test is failed, the throw is still successful. After scattering, the thrown player will find it harder to land.</p>
<h6>Terrible Throws</h6>
<p>If, when making the Passing Ability test, the dice roll is a 1 after modifiers have been applied, the thrown player will deviate from the square occupied by the player performing the Throw action before landing.</p>
<h6>Fumbled Throws</h6>
<p>Often, smaller players object to being thrown and will squirm a bit. When they do, there is a chance that the throw will be fumbled:</p>
<ul>
    <li>If, when making the Passing Ability test, a natural 1 is rolled, the throw has been fumbled.</li>
    <li>If the player performing the Throw Team-Mate action has a PA of '-', the throw is automatically fumbled.</li>
</ul>
<p> When a Throw Team-Mate action is fumbled, the action is unsuccessful and the activation of the player performing it ends immediately. The player that was to be thrown is dropped and will bounce (as if they were a ball) from the square occupied by the player performing the action, after which they must attempt to land, as described on <a href="#p54">page 54</a>.</p>
