<h6>Resolve Throw Team-Mate Action</h6>
<p>A Throw Team-Mate action cannot be interfered with. Therefore, if the throw was not fumbled, the throw itself is now resolved. The thrown player must now attempt to land, as described below, hopefully on their feet!</p>
<h4>Landing</h4>
<p>If the thrown player was Standing and had not lost their Tackle Zone before they were thrown, and if the player lands in an unoccupied square, they will attempt to land safely. To land safely, the thrown player must pass an Agility test, applying the following modifiers:</p>
<ul>
    <li>If the throw was superb, there are no modifiers.</li>
    <li>If the throw was fumbled, apply a -1 modifier.</li>
    <li>If the throw was successful, apply a -1 modifier.</li>
    <li>If the throw was terrible, apply a -2 modifier.</li>
</ul>
<p>In addition, the following modifiers may also apply:</p>
<ul>
    <li>If the player is being Marked in the square they land in, apply an additional -1 modifier per player Marking them.</li>
</ul>
<p>If the Agility test is passed, or if the roll is a natural 6, the thrown player will land safely and is considered to have moved voluntarily.</p>
<p>If the Agility test is failed, the thrown player will land badly and is considered to have moved involuntarily. The thrown player will Fall Over, as described on <a href="#p27">page 27</a>. If the thrown player was in possession of the ball, a Turnover is caused. Otherwise, no Turnover is caused.</p>
<p>If the thrown player has not yet been activated this turn, they may be activated later in the turn if possible, i.e., if they are not Stunned after a traumatic landing.</p>
<h5>Landing in an Occupied Square</h5>
<del class="block errata">
    <p>If after the scatter has been resolved, the thrown player lands in an occupied square:</p>
    <ul>
        <li>The player occupying the square is Knocked Down (an Armour roll and possible Injury roll is made against them even if they were already Prone or Stunned).</li>
        <li>The thrown player will bounce (as if they were a ball) from the square they land in and will automatically Fall Over upon landing, as described on <a href="#p27">page 27</a>.</li>
        <li>Should the thrown player bounce into another occupied square, the above process is repeated.</li>
    </ul>
</del>
<ins class="block errata">
    <p>If after the scatter has been resolved, the thrown player lands in an occupied square:</p>
    <ul>
        <li>The player occupying the square is Knocked Down (an Armour roll and possible Injury roll is made against them even if they were already Prone or Stunned). If the player occupying the square is a team-mate then a Turnover will be caused.</li>
        <li>The thrown player will bounce (as if they were the ball) from the square they land in and will automatically be Knocked Down upon landing; however, unlike normally when a player is Knocked Down during their own team turn, this will not cause a Turnover unless the thrown player was holding the ball.</li>
        <li>Should the thrown player bounce into another occupied square, the above process is repeated.</li>
    </ul>
</ins>
<h5>Crash Landing</h5>
<p>If the thrown player was Prone or Stunned, or had lost their Tackle Zone before they were thrown, they cannot attempt to land safely:</p>
<ul>
    <li>Once the scatter has been resolved, the player will bounce (as if they were a ball) from the square they land in.</li>
    <li>The player will automatically Fall Over after bouncing and an Armour roll and possible Injury roll is made against them.</li>
</ul>
<h5>Landing in the Crowd</h5>
<p>Should the thrown player scatter off the pitch, they will land in the crowd. The player is immediately removed from play and placed in their team dugout. Landing in the crowd is very dangerous as Blood Bowl fans are notoriously violent, so the player risks 'Injury by the Crowd', as described on <a href="#p61">page 61</a>. This will determine if the player is placed in the Reserves, Knocked-out or Casualty box.</p>
<p>If a player in possession of the ball lands in the crowd after being thrown, a Turnover is caused and the ball will be thrown-in by the crowd as described on <a href="#p51">page 51</a>.</p>
