<h3>Blocking</h3>
<p>At its most basic, a block is a very rough tackle. The rules of Blood Bowl allow players to do almost anything to bring down an opponent, and provided weapons aren't used, the officials rarely make any distinction between a skilled tackle and a frenzied rain of pummelling blows that leave a player unconscious. This is part of the game's charm. After all, who wouldn't want to watch a violent, full contact bloodsport that happens to include some ball related drama!</p>
<h4>Block Actions</h4>
<p>When a Standing player is activated, they can immediately nominate a single Standing opposition player that they are currently Marking and declare that they will target them with a Block action. Unlike other actions, there is no limit to how many players may perform a Block action each team turn.</p>
<p>A player performing a Block action cannot move before or after, and Prone players cannot stand up and perform a Block action. However, if the target of the Block action is 'pushed back' into another square, the player that made the action may 'follow-up' into the square vacated, carried forward by the momentum of the attack.</p>
<p>Once per team turn, a single player on the active team may perform a Blitz action. A Blitz action combines a Block action with a Move action. A Blitz action may be performed by a Prone player.</p>
<p>Block actions are resolved using special block dice, unique to Blood Bowl. How many block dice are rolled and which coach chooses the result to apply is determined by the Strength of the player performing the Block action compared with the Strength of the player that is the target of the Block action.</p>
<h5>Strength</h5>
<p>Once an active player has declared they will perform a Block action and nominated their target, the next thing to do is to compare the Strength characteristic of both players, including any Strength modifiers granted by Skills or Traits or offered by 'assists' from team-mates (see opposite). If one player is stronger than the other, they are more likely to knock their opponent down:</p>
<ul>
    <li>If both players have the same Strength characteristic, after modification, one block dice is rolled.</li>
    <li>If one player has a higher Strength characteristic, after modification, a pool of two block dice is rolled and the coach of the stronger player selects which result to apply.</li>
    <li>If one player has a Strength characteristic that is more than double that of their opponent, after modification, a pool of three block dice is rolled and the coach of the stronger player selects which result to apply.</li>
</ul>