<h5>Assisting a Block</h5>
<p>The Strength characteristic of the player that is performing the Block action, or of the player that is the target of the Block action, can be modified by assists offered by team-mates that are in a position to help. In this way, two or more players can gang up on another. There are two types of assist that can be counted: 'offensive' and 'defensive'.</p>
<h6>Offensive Assists</h6>
<p>An offensive assist is when another player on the active team, a team-mate of the player that is performing the Block action, is able to assist. To offer an offensive assist, a player must be Marking the opposition player that is the target of their team-mate's Block action.</p>
<p>A player cannot offer an offensive assist if they are being Marked by any opposition player other than the one that is the target of their team-mate's Block action.</p>
<p>Each offensive assist counted modifies the Strength characteristic of the player performing the Block action by +1.</p>
<h6>Defensive Assists</h6>
<p>A defensive assist is when another player on the inactive team, a team-mate of the player that is the target of a Block action, is able to assist. To offer a defensive assist, a player must be Marking the opposition player that is performing the Block action against their team-mate.</p>
<p>A player cannot offer a defensive assist if they are being Marked by any opposition player other than the one that is performing the Block action against their team-mate.</p>
<p>Each defensive assist counted modifies the Strength characteristic of the player that is the target of the Block action by +1.</p>
<h5>Block Dice</h5>
<p>Once offensive and defensive assists have been worked out and the number of block dice to be rolled determined, roll the block dice. Block dice feature five icons, each representing an outcome. Some of these outcomes can be modified by Skills or Traits possessed by one or both players:</p>
<h6>Player Down</h6>
<p>Something has gone terribly wrong and the player performing the Block action has come off the worst. The active player is immediately Knocked Down by the player they were attempting to block!</p>
<h6>Both Down</h6>
<p>Neither player comes off particularly well. Both the active player and the target of the Block action are Knocked Down by one another.</p>
<p>If one of the players has the Block skill (as described on <a href="#p76">page 76</a>), they may choose to ignore this result and not be Knocked Down. If both players have the Block skill, they may both ignore this result, in which case both players bash heads in a clatter of armour, but nothing else really happens!</p>
<h6>Push Back</h6>
<p>The active player gives their opponent an almighty shove, forcing them backwards. The target of the Block action is pushed back one square by the active player. The active player may follow-up into the square vacated. Pushing other players is covered in more detail on <a href="#p58">page 58</a>.</p>
<h6>Stumble</h6>
<p>The target of the Block action attempts to avoid their aggressor. If the target of the Block action has the Dodge skill and chooses to use it (as described on <a href="#p75">page 75</a>), they are able to avoid being hit and this result becomes a Push Back, as described above. Otherwise, this result becomes a POW!, as described below. In either case, the active player may follow-up into the square vacated.</p>
<h6>Pow!</h6>
<p>The block is tremendously effective and the target keels over to land flat on their back! The target of the Block action is pushed back by the active player and is then Knocked Down in the square they have been moved into. The active player may follow up into the square vacated.</p>
