<h5>Select and Apply Result</h5>
<p>Regardless of the Strength of the players involved, it is always the coach of the player performing the Block action that will roll the block dice. If a pool of two or more block dice is being rolled, it is always the coach of the player with the higher Strength that will select which result is applied against the target.</p>
<p>Note that when both players have the same Strength characteristic, only one block dice is rolled, so there is only one result available!</p>
<h5>Pushed Players</h5>
<p>The Push Back and POW! block dice results call for the target of a Block action to be 'pushed back'. A pushed back player is involuntarily moved one square away from the player performing the action. The pushed back player is moved into a square chosen by the coach of the player performing the action. The squares a pushed back player can be moved into will depend upon the direction from which the block came, as shown in the diagrams below:</p>
<p>The square the pushed back player is moved into must be an unoccupied square. If this is not possible, the pushed back player will either be pushed into the crowd (see opposite) or a chain-push will occur (see opposite). Note that only players can occupy a square, if a square contains only the ball or a trapdoor, it is unoccupied and a pushed back player may be moved into it. If a pushed back player is moved into a square that contains the ball, the ball will bounce. A player cannot attempt to pick up the ball when pushed back.</p>
<p>
    <img src="./images/pushed-players-1.jpg" width="315" height="179">
</p>
<p>
    <img src="./images/pushed-players-2.jpg" width="315" height="176">
</p>

<h6>Chained Pushes</h6>
<p>If there are no unoccupied squares to move a pushed back player into, the player is moved into a square occupied by another player, causing a 'chain-push'. When a player is chain-pushed, they are pushed back themselves exactly as described above. The chain-pushed player is moved into a square chosen by the coach of the player performing the Block action. The squares a chain-pushed player can be moved into will depend upon the direction from which the push came, as shown in the diagrams previously.</p>
<p>A player can be chain-pushed even if they are Prone or Stunned. A chain-push can cause a player from either team to be moved and may result in a player being pushed into the crowd.</p>
<p>
    <img src="./images/chain-pushes.jpg" width="316" height="284">
</p>
<h6>Pushed into the crowd</h6>
<p>If a player occupies a square adjacent to a sideline or within an End Zone when pushed back, and if the only square they can be pushed into is occupied, or if there are no squares they can be pushed into, the player will be 'pushed into the crowd'.</p>
<p>A player that is pushed into the crowd is immediately removed from play and placed in their team dugout. A player pushed into the crowd risks 'Injury by the Crowd', as described on <a href="#p61">page 61</a>. This will determine if the player is placed in the Reserves, Knocked-out or Casualty box.</p>
<p>If a player in possession of the ball is pushed into the crowd, the ball will be thrown-in by the crowd as described on <a href="#p51">page 51</a>. Additionally, if a player on the active team that is in possession of the ball is pushed into the crowd, a Turnover is caused.</p>
