<h3>Armour and Injuries</h3>
<p>There are many ways in which a Blood Bowl player can get injured. From being gored by a rampaging Minotaur, to tripping and breaking an ankle whilst Rushing, Blood Bowl is a game that provides almost limitless opportunity to get seriously hurt! Even death is an ever-present threat! Most Blood Bowl players proudly sport impressive scars, and it is widely said that an old pro can be easily identified by the way they wince and grumble about their aches and pains during wet weather.</p>
<h4>Risking Injury</h4>
<p>As described on <a href="#p27">page 27</a>, whenever one player is Knocked Down by another, be it as the result of a Block action or some other, more devious trick, they become Prone and risk injury. Likewise, whenever a player Falls Over, most often caused by failing an Agility test when dodging, or tripping as they Rush across the pitch, they become Prone and risk injury. When a player is Knocked Down or Falls Over, the coach of the opposing team will make an Armour roll against that player.</p>
<p>Note that when a player is Placed Prone, perhaps having wrestled an opponent to the ground, there is no risk of injury and no Armour roll is made against them.</p>
<h5>Amour Rolls</h5>
<p>An Armour roll is made as described on <a href="#p29">page 29</a>, by the coach of the opposing team. If the player's armour is 'broken', an Injury roll is made. If their armour is not broken, it protects them from harm.</p>
<h5>Injury Rolls</h5>
<p>Whenever a player's armour is broken, an Injury roll is made against them. The coach of the opposing team rolls 2D6 and consults the table below:</p>
<div class="table-wrapper">
    <table>
        <caption>Injury Table</caption>
        <thead>
        <tr>
            <th scope="col">2D6</th>
            <th scope="col">Result</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="col">2-7</th>
            <td>
                <strong>Stunned:</strong> The player immediately becomes Stunned, as described on <a href="#p27">page 27</a>, and is laid face-down on the pitch.
            </td>
        </tr>
        <tr>
            <th scope="col">8-9</th>
            <td>
                <strong>KO'd:</strong> The player is immediately removed from play and placed in the Knocked-out box of their team dugout. At the end of each drive, there is a chance any Knocked-out players will recover, as described on <a href="#p66">page 66</a>.
            </td>
        </tr>
        <tr>
            <th scope="col">10+</th>
            <td>
                <strong>Casualty!:</strong> The player becomes a casualty and is immediately removed from play and placed in the Casualty box of their team dugout. The coach of the opposing team immediately makes a Casualty roll against the player, as described opposite.
            </td>
        </tr>
        </tbody>
    </table>
</div>
<h5>Stunty Players</h5>
<p>Players with the Stunty trait (see <a href="#p86">page 86</a>) are particularly small and fragile, meaning they are more prone to breaking when hit! If an Injury roll is ever made against a player with the Stunty trait, roll on this table instead:</p>
<div class="table-wrapper">
    <table>
        <caption>Stunty Injury Table</caption>
        <thead>
        <tr>
            <th scope="col">2D6</th>
            <th scope="col">Result</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="col">2-6</th>
            <td>
                <strong>Stunned:</strong> The player immediately becomes Stunned, as described on <a href="#p27">page 27</a>, and is laid face-down on the pitch.
            </td>
        </tr>
        <tr>
            <th scope="col">7-8</th>
            <td>
                <strong>KO'd:</strong> The player is immediately removed from play and placed in the Knocked-out box of their team dugout. At the end of each drive, there is a chance any Knocked-out players will recover, as described on <a href="#p66">page 66</a>.
            </td>
        </tr>
        <tr>
            <th scope="col">9</th>
            <td>
                <strong>Badly Hurt:</strong> The player becomes a casualty and is immediately removed from play and placed in the Casualty box of their team dugout. No Casualty roll is made. Instead, a Badly Hurt result is automatically applied against them.
            </td>
        </tr>
        <tr>
            <th scope="col">10+</th>
            <td>
                <strong>Casualty!:</strong> The player becomes a casualty and is immediately removed from play and placed in the Casualty box of their team dugout. The coach of the opposing team immediately makes a Casualty roll against the player, as described opposite.
            </td>
        </tr>
        </tbody>
    </table>
</div>