<h5>Injured by the Crowd</h5>
<p>When a player is pushed back into the crowd or lands in the crowd there is no telling how the fans will treat them, and they risk Injury by the Crowd. No Armour roll is made against the player. Instead the coach of the opposing team immediately rolls on the Injury table to see what the crowd does to the player:</p>
<ul>
    <li>If the player is Stunned, they are placed in the Reserves box.</li>
    <li>If the player is Knocked-out, they are placed in the Knocked-out box. They may recover as usual at the end of the drive.</li>
    <li>If the player becomes a casualty, they are placed in the Casualty box. A roll is made again</li>
</ul>
<h5>Casualty Rolls</h5>
<p>Whenever a player becomes a casualty, a Casualty roll is made against them. The coach of the opposing team rolls a D16 and consults the table below:</p>
<div class="table-wrapper">
    <table>
        <caption>Casualty Table</caption>
        <thead>
        <tr>
            <th scope="col">D16</th>
            <th scope="col">Result</th>
            <th scope="col">Effect</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1-6</th>
            <td>Badly Hurt</td>
            <td>The player misses the rest of this game, but suffers no long term effect</td>
        </tr>
        <tr>
            <th scope="row">7-9</th>
            <td>Seriously Hurt</td>
            <td>MNG</td>
        </tr>
        <tr>
            <th scope="row">10-12</th>
            <td>Serious Injury</td>
            <td>NI and MNG</td>
        </tr>
        <tr>
            <th scope="row">13-14</th>
            <td>Lasting Injury</td>
            <td>Characteristic reduction and MNG</td>
        </tr>
        <tr>
            <th scope="row">15-16</th>
            <td>DEAD</td>
            <td>This player is far too</td>
        </tr>
        </tbody>
    </table>
</div>
<h6>MNG (Miss Next Game)</h6>
<p>The player misses the rest of this game, but will need more time to recuperate. In league play, the player is not available to play in the team's next game. Make a note of this on the Team Draft list. The team's CTV is reduced by this player's current value until the end of the post-game sequence of the team's next game (see <a href="#p69">page 69</a>). If this player's absence leaves the team with fewer than 11 players, they are replaced by a Journeyman player ahead of the next game, as described on <a href="#p38">page 38</a>.</p>
<h6>NI (Nigling Injury)</h6>
<p>Make a note on the Team Draft list that this player has picked up a Niggling Injury. There is a +1 modifier applied to all future rolls made against this player on the Casualty table per Niggling Injury they have.</p>
<h6>Characteristic Reduction</h6>
<p>The player has one of their characteristics reduced by 1. To determine which, roll a D6 on the table below.</p>
<del class="block errata">
    <p>In the case of Movement Allowance or Strength, the characteristic is simply reduced by 1. In the case of Agility, Passing Ability or Armour Value, the target number is raised by 1. For example, if a player with AG4+ suffers a Neck Injury, the characteristic would become AG5+.</p>
</del>
<ins class="block errata">
    <p>In the case of Movement Allowance or Strength, the characteristic is simply reduced by 1. In the case of Agility or Passing Ability, the target number is raised by 1. For example, if a player with AG4+ suffers a Neck Injury, the characteristic would become AG5+. In the case of Armour Value, the target number is lowered by 1. For example, if a player with AV9+ suffers a Head Injury, the characteristic would become AV8+.</p>
</ins>
<p>Note, however, that no characteristic can ever be reduced below the minimum value shown on <a href="#p28">page 28</a>.</p>
<div class="table-wrapper">
    <table>
        <caption>Lasting Injury Table</caption>
        <thead>
        <tr>
            <th scope="col">D6</th>
            <th scope="col">Lasting Injury</th>
            <th scope="col">Characteristic Reduction</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1-2</th>
            <td>Head Injury</td>
            <td> -1 AV</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Smashed Knee</td>
            <td> -1 MA</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Broken Arm</td>
            <td> -1 PA</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Neck Injury</td>
            <td> -1 AG</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Dislocated Shoulder</td>
            <td> -1 ST</td>
        </tr>
        </tbody>
    </table>
</div>
<h6>DEAD</h6>
<p>This player is dead! Dead players are dismissed from the team during Step 1 of the post-game sequence, as described on <a href="#p69">page 69</a>.</p>
