<h4>Substitutions</h4>
<p>Substitute players may not be brought on during a drive. The only time fresh players can be brought on from the Reserves box to replace those removed from play through injury (or Sent-off!) is whilst setting up for a new drive, prior to restarting the game (see <a href="#p67">page 67</a>).</p>
<h4>Apothecaries</h4>
<p>Once per game, a team with an apothecary may use them to 'patch-up' any permanently hired players belonging to it that have been removed from play after being Knocked-out or after having a Casualty roll made against them. An apothecary cannot be used to patch-up any Journeymen players or any Induced players, such as Mercenaries or Star Players. Journeymen are rarely considered worth the effort, whilst Mercenaries and Star Players travel with their own staff of healers and medics.</p>
<h5>Patching-Up Knocked-Out Players</h5>
<p>Once per game, an apothecary can be used immediately when a player becomes Knocked-out:</p>
<ul>
    <li>If the player was on the pitch when they were Knocked-out, they are not removed from play. Instead, they remain on the pitch and become Stunned.</li>
    <li>If the player was Knocked-out as a result of being pushed back into the crowd or landing in the crowd, place them directly into the Reserves box rather than the Knocked-out box.</li>
</ul>
<h5>Patching-Up Casualties</h5>
<p>Alternatively, once per game an apothecary can be used when a Casualty roll is made against a player:</p>
<ul>
    <li>Immediately after the Casualty roll is made against your player, you may declare the use of an apothecary.</li>
    <li>The coach of the opposing team rolls again on the Casualty table, giving two possible outcomes. You may choose which result is applied to your player.</li>
    <li>If a Badly Hurt result is applied, the apothecary has been able to patch the player up and pump them full of painkillers. The player is removed from the Casualty box and placed in the Reserves box.</li>
</ul>
<p>Note that the use of an apothecary comes before any other attempts to heal the player. This includes the use of any Skills or Traits, or any other in-game effect or special rule that may modify the Casualty roll or its effect.</p>
