<h3>Kicking them while they're down</h3>
<p>Fouling is strictly against the rules of Blood Bowl, and any player tempted to stick the boot in risks the wrath of the referees. Not that this stops anyone of course! Many teams are renowned for being dirty and devious, and more than a few players have built a career upon the art of the foul. Indeed, fouling is now such an established part of the game that the RARG has established guidelines allowing members to turn a blind eye.</p>
<h4>Foul Actions</h4>
<p>As mentioned previously, once per team turn, a single player on the active team may commit a Foul action. When activated, the player nominates a single Prone or Stunned player on the opposing team to be the victim of the Foul. The player may move before committing the Foul, following all of the normal movement rules, but must be in a square adjacent to the player they wish to Foul when the action is made. Once the Foul has been committed, they may not move further and their activation comes to an end.</p>
<h5>Fouling</h5>
<p>To commit a Foul, simply make an Armour roll (and possible Injury roll) against the nominated victim. Offensive and defensive assists are worked out before this Armour roll is made, exactly as when performing a Block action, as described on <a href="#p57">page 57</a>. Rather than modifying Strength, these assists will modify the Armour roll:</p>
<ul>
    <li>Apply a +1 modifier to the Armour roll for each offensive assist.</li>
    <li>Apply a -1 modifier to the Armour roll for each defensive assist.</li>
</ul>
<h5>Being Sent-Off</h5>
<p>Regardless of the outcome, if a natural double is rolled (i.e., if two 2s are rolled before applying any modifiers) when making either the Armour roll or an Injury roll against the victim of the Foul action, the referee has seen a player committing a foul right in front of them and that cannot be ignored. The player committing the Foul action is Sent-off. They are immediately removed from play and must miss the rest of the game. When a player is Sent-off, a Turnover is caused.</p>
<h5>Arguing the Call</h5>
<p>When a player is Sent-off by the referee for committing a Foul, their coach may attempt to Argue the Call. Roll a D6 and refer to the table below:</p>
<div class="table-wrapper">
    <table>
        <caption>Argue the call</caption>
        <thead>
        <tr>
            <th scope="col">D6</th>
            <th scope="col">Result</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>
                <strong>“You're Outta Here!”</strong> The referee is so enraged that the coach is ejected along with the player. For the remainder of this game, you may no longer Argue the Call and must apply a -1 modifier when rolling for Brilliant Coaching.
            </td>
        </tr>
        <tr>
            <th scope="row">2-5</th>
            <td>
                <strong>“I Don't Care!”</strong> The referee is not interested in your argument. The player is Sent-off and a Turnover caused.
            </td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>
                <strong>“Well, When You Put It Like That…”</strong> The referee is swayed by your argument. A Turnover is still caused, but the player that committed the Foul is not Sent-off.
            </td>
        </tr>
        </tbody>
    </table>
</div>