<h3>Touchdown!</h3>
<p>The game of Blood Bowl is won by scoring touchdowns. If one team can score more than the other team, they will win. True, there are many, many teams that consider scoring touchdowns secondary to committing acts of violence, but even the most bloodthirsty of teams will start scoring some touchdowns once the opposition has been satisfactorily dealt with. Proof indeed that the basic premise of the game is so simple that even an Orc can understand it!</p>
<h4>Scoring a Touchdown</h4>
<p>A touchdown can be scored by any player, even players that are not currently active themselves or that belong to the inactive team. A touchdown is scored when:</p>
<ul>
    <li>A Standing player in possession of the ball enters a square that is within the opposing team's End Zone without Falling Over or being Knocked Down.</li>
    <li>A Standing player picks up or catches the ball whilst occupying a square within the opposing team's End Zone.</li>
</ul>
<p>For example, a player that occupies a square within the opposing team's End Zone who catches the ball will immediately score a touchdown. Alternatively, a player in possession of the ball may be chain-pushed into the opposing team's End Zone.</p>
<p>Note, however, that if a player is Placed Prone, Falls Over or is Knocked Down whilst moving into the opposition's End Zone, no touchdown is scored. A player must be Standing for a touchdown to be scored.</p>
<p>As soon as a touchdown is scored, play stops (effectively causing a Turnover, as described on <a href="#p23">page 23</a>, but a Turnover you can be pleased with!).</p>
<h5>Scoring During Your Opponent's Turn</h5>
<p>In some rare cases a player will find themselves able to score a touchdown during the opposing team's turn. For example, a player holding the ball could be pushed back into the End Zone but not Knocked Down by a Block action made against them.</p>
<p>If one of your players that is in possession of the ball is moved for any reason so that they occupy a square within the opposing team's End Zone, and if that player remains Standing after they have been moved, at any point during the opposing team's turn, your opponent's team turn ends immediately and your team becomes active. However, rather than playing a full turn, your team turn will end as soon as it begins with a touchdown being scored.</p>
<h5>Record Score</h5>
<p>Arguably the most important thing to remember when a touchdown is scored is to record the score! This is done by the coach of the team that scored, by moving their score marker one place along the Score tracker of their team's dugout. Singing, dancing and other celebrations are encouraged.</p>
<h5>Stalling</h5>
<p>Sometimes, a coach will want their team to run the clock down, opting not to score when they easily could. At other times a team can get so caught up in the violence of the game that they simply forget to score when they have the chance. This is a perfectly valid tactic, although in some instances it can be risky!</p>
<p>If at any point during your team turn a player belonging to your team meets all of the following criteria, that player is said to be 'Stalling':</p>
<ol>
    <li>If the player is Open.</li>
    <li>If the player is in possession of the ball.</li>
    <li>If the player is able to activate and perform their declared action without the need to first roll a D6.</li>

    <li>
        <del class="errata">If the player is able to move into the opposition's End Zone without needing to Rush or Dodge.</del>
        <ins class="errata">If the player is able to move into the opposition’s End Zone without needing to roll any dice. This includes, but is not limited to, the player having to Dodge, Leap, Rush, Jump over a Prone player or Blitz.</ins>
    </li>
</ol>
<p> Failing to activate a Stalling player before your turn ends (even if it ends unexpectedly with a Turnover), or activating that player but declining to score a touchdown, is Stalling.</p>
