<h3>The End of a Drive</h3>
<p>When a drive comes to an end, either as the result of a touchdown being scored, or when time runs out for the half and the referee blows their whistle, play will halt. Unless the full-time whistle has been blown, there will be another drive to come, and both teams will make use of the lull in activity. This gives both teams time to make substitutions, talk tactics, and for cheerleaders and sideline performers to entertain the crowds and enthuse their supporters.</p>
<h4>End of Drive Sequence</h4>
<p>When a touchdown is scored or at the end of the final turn of a half, the current drive comes to an end and play will halt. If there are more turns of the current half or a full half still to come, play only halts temporarily. Both coaches run through the following sequence of steps:</p>
<ol>
    <li>
        <strong>DEAL WITH SECRET WEAPONS:</strong> Any Secret Weapon players risk being Sent-off.
    </li>
    <li>
        <strong>RECOVER KNOCKED-OUT PLAYERS:</strong> Knocked-out players may recover.
    </li>
    <li>
        <strong>THE DRIVE ENDS:</strong> The drive ends.
    </li>
</ol>
<h4>1. Deal with Secret Weapons</h4>
<p>If either team fielded any players with the Secret Weapon trait during the preceding drive, those players will be Sent-off for committing a Foul, even if they were not on the pitch at the end of the drive. When a player is Sent-off in this way, their coach may attempt to Argue the Call as described on <a href="#p63">page 63</a>. A single Bribe Inducement may also be used per player Sent-off in this way, if any are available and should the coach wish (see <a href="#p91">page 91</a>). If either is successful, the player is not Sent-off.</p>
<h4>2. Recover Knocked-out Players</h4>
<p>If either coach has any players in the Knocked-out box of their dugout, they may now see if they have recovered enough to take part in the next drive. Roll a D6 for each player that is currently Knocked-out:</p>
<ul>
    <li>On a roll of 4+, the player has recovered and is raring to go. Recovered players are immediately placed in the Reserves box of their team dugout.</li>
    <li>On a roll of 1-3, the player is still far too insensible to take to the pitch again.</li>
</ul>
<h4>3. The Drive Ends</h4>
<p>The drive comes to an end. Any special rules or effects, from any source, that lasted for the duration of this drive will expire now.</p>
