<h4>Restarting the Game</h4>
<p>If there are still turns to be played in the current half, or if there is another full half still to play, both teams will set up again, as described on <a href="#p40">page 40</a>. If the previous drive ended with a touchdown, the team that scored the touchdown now becomes the defence and will kick-off to the team that conceded the touchdown.</p>
<h4>Ending the Game</h4>
<p>At the end of the second half, the game will end. Unless the game is a league fixture, there is nothing else to do but determine the winner. In a league, however, the post-game sequence is when coaches work out winnings, players may gain advancements, and so on (see <a href="#p69">page 69</a>).</p>
<h5>Winning the Game</h5>
<p>The team that has scored the most touchdowns at the end of the game is declared the winner. If there is no clear winner, a period of extra time may be played, as described opposite.</p>
<h5>Conceding</h5>
<p>It is very rare for a Blood Bowl team to concede a game, most would sooner play to the death than quit the pitch in shame. But sometimes a coach may put discretion before valour and say they've had enough. You may concede at the start of any of your team turns. However, doing so means that:</p>
<ul>
    <li>The opposition is awarded one touchdown, and any touchdowns your team has scored are voided and awarded to the opposition.</li>
    <li>You are unable to award an MVP to any of your players.</li>
    <li>You do not generate any winnings.</li>
    <li>Your Dedicated Fans characteristic is reduced by D3 (to a minimum of 1).</li>
</ul>
<p>Finally, roll a D6 for each of your players that has gained three or more advancements:</p>
<ul>
    <li>On a roll of 1-3, the player quits the team in disgust. Immediately delete the player from your Team Draft list.</li>
    <li>On a roll of 4+, the player remains with the team.</li>
</ul>
<h4>Extra Time</h4>
<p>Sometimes, an important fixture needs a clear winner. League semi-finals, finals and tournament grand finals are both prime examples, but during exhibition play as well, having a clear winner can often be vital!</p>
<p>If, at the end of the second half, the score is tied between both teams, an eight turn period of extra time can be played. Once the End of Drive sequence is resolved, extra time begins by determining which team will kick and which will receive, as described on <a href="#p38">page 38</a>.</p>
<p>Team re-rolls are not replenished at the start of extra time. However, any team re-rolls that were not used during the second half are carried over into extra time. In all other respects, extra time is played exactly like a normal half.</p>
<h5>Sudden Death</h5>
<p>If there is still no clear winner at the end of extra time, the game is decided by a penalty roll-off, representing the teams taking part in a field goal penalty shoot-out (the only time field goals are used in modern Blood Bowl). To resolve sudden death, both coaches roll-off five times, each rolling a D6 and re-rolling ties. The coach who wins the most roll-offs wins the game.</p>
