<h3>The Aftermath</h3>
<p>Once the final whistle has blown on a game played during a league and the exuberant crowds have left the stadium, both coaches will run their teams through the post-game sequence. This is when winnings are counted and spent on new players and Sideline Staff, when casualties are assessed and either treated or dismissed, and when players and their various skills evaluated and, invariably, team tactics are reviewed.</p>
<h4>League and Exhibition Play</h4>
<p>After a league fixture, both coaches should run through the full post-game sequence step by step. In exhibition play, the post-game sequence need not be completed.</p>
<ol>
    <li>
        <strong>Record Outcome and Winnings:</strong> The details of the game, its outcome and each team's winnings are recorded on the Game Record sheet.
    </li>
    <li>
        <strong>Update Dedicated Fans:</strong> Record any changes to Dedicated Fans based on the outcome of the game.
    </li>
    <li>
        <strong>Player Achievement:</strong> Any players that have earned enough SPP may spend them on advancements.
    </li>
    <li>
        <strong>Hiring, Firing and Temporarily Retiring:</strong> New players and staff are recruited. Injured players may be dismissed or may temporarily retire. Any unwanted staff may be dismissed.
    </li>
    <li>
        <strong>Expensive Mistakes:</strong> If the team has sufficient wealth left unspent, there is a chance players and staff will spend it irresponsibly.
    </li>
    <li>
        <strong>Prepare For Next Fixture:</strong> Team Value and Current Team Value are both updated ready for the next league fixture.
    </li>
</ol>
<h4>1. Record Outcome and Winnings</h4>
<p>At the end of each and every league fixture, both coaches are responsible for correctly recording on their Game Record sheet the details of how their team performed and the outcome of the match. Each coach should record the following information in the appropriate sections of their Game Record sheet so that it can be passed on to the league commissioner:</p>
<ul>
    <li>The result of the game (win, lose or draw).</li>
    <li>How many touchdowns were scored (by each team).</li>
    <li>How many Casualties were caused (counting only those that generate SPP, as described in Step 3).</li>
    <li>How many League points were earned (see <a href="#p98">page 98</a>).</li>
    <li>Finally, any players that suffered a DEAD result on the Casualty table during this game are deleted from your Team Draft list (see <a href="#p60">page 60</a>).</li>
</ul>
<h5>Winnings</h5>
<p>At the end of every game, each team receives a fee for playing, usually paid by the stadium owner from ticket sales. To work out how much each team wins:</p>
<ul>
    <li>Divide the Fan Attendance for the game (see below) by two.</li>
    <li>Add the number of touchdowns your team scored to this figure.</li>
    <li>Multiply the total by 10,000.</li>
</ul>
<p>The result is how many gold pieces your team has won for this game. This is recorded in the 'Winnings' section of the Game Record sheet and is added immediately to the team's Treasury.</p>
<p>Note that, if one team conceded, Fan Attendance is not divided by two. Instead, the full amount is awarded to the winning team.</p>
<h5>Fan Attendance</h5>
<p>This is worked out by simply adding together the Fan Factor of both teams to determine the total number of fans present.</p>
<h4>2. Update Dedicated Fans</h4> A good result can see a team's fan following increase, and a prolonged winning streak can bring the fans flocking to buy tickets and merchandise. This sort of popularity can really help a team financially:
<ul>
    <li>If your team won the game, roll a D6. If the result is equal to or higher than your current Dedicated Fans characteristic, increase your Dedicated Fans characteristic by 1.</li>
    <li>If your team lost the game, roll a D6. If the result is lower than your current Dedicated Fans characteristic, reduce your Dedicated Fans characteristic by 1.</li>
    <li>If the game was a draw, neither team's Dedicated Fans characteristic will increase or decrease.</li>
</ul>