<h4>3. Player Advancement</h4>
<p>During a league, players on your team will develop by earning Star Player Points (SPP) during the games they participate in. Should a player earn enough Star Player Points, they gain an advancement. Players who survive long enough will progress to become Legendary Players, with special characteristics and skills that they have picked up over the course of their career on the Blood Bowl pitch.</p>
<h5>Recording Star Player Points</h5>
<p>The Team Draft list includes boxes in which to keep a tally of each player's achievements during a game. Each time a player does something to earn SPPs you should record it. At the end of the game, count up the tallies and record that player's total number of SPP.</p>
<p>Note that Star Players and/or Mercenaries purchased as Inducements at the start of the game do not earn SPP. Journeymen, however, do, and you should record any SPP a Journeyman earns during a game as you will have the opportunity to permanently hire that player in Step 4.</p>
<h5>Earning Star Player Points</h5>
<p>Be it for scoring touchdowns or for earning Most Valuable Player awards, the full list of achievements that generate SPP is as follows:</p>
<h6>Completion (COMP)</h6>
<p>Often when a player passes the ball or throws a team-mate, something can go wrong. When it goes right, however, it is called a Completion, and the fans love it!</p>
<ul>
    <li>Passing Completions: When a player makes an accurate Pass action which is caught by a team-mate occupying the target square, they are said to have made a 'Passing Completion'. A Passing Completion earns the player 1 SPP.</li>
    <li>Throwing Completions: When a player makes a superb Throw Team-Mate action, and if the thrown player lands safely, they are said to have made a 'Throwing Completion'. A Throwing Completion earns the player 1 SPP.</li>
</ul>
<h6>Passing Interference</h6>
<p>When a player successfully interferes with a Pass action, the effect can be dramatic indeed! A Simple Deflection can have a huge impact upon a game, whilst an Interception can completely reverse the flow of play!</p>
<ul>
    <li>
        <strong>Deflections:</strong> A Deflection earns the player 1 SPP.
    </li>
    <li>
        <strong>Interceptions:</strong> An Interception earns the player 2 SPP.
    </li>
</ul>
<h6>Casualty (CAS)</h6>
<p>If an opposition player is Knocked Down as the result of a Block action and removed from play as a Casualty, regardless of which player performed the action, your player is said to have caused a 'Casualty'. Causing a Casualty earns the player 2 SPP.</p>
<p>Note that Star Player Points for causing a Casualty are earned even if both players were Knocked Down and removed from play. Note also that Casualty rolls caused by the crowd or by any other type of action do not earn Star Player Points.</p>
<h6>Touchdown (TD)</h6>
<p>When a player scores a touchdown, they earn 3 SPP. If your team was awarded any touchdowns as a result of the opposition conceding the game, as described on <a href="#p67">page 67</a>, you may allocate each touchdown to a player of your choice and give them SPP accordingly.</p>
<h6>Most Valuable Player (MVP)</h6>
<p>At the end of the game, each coach randomly selects one player from their team (not including Star Players and/ or Mercenaries) that was eligible to play during this game and that did not suffer a Casualty result of 15-16, DEAD. That player receives the Most Valuable Player award, earning 4 SPP.</p>
