<h5>Spending Star Player Points</h5>
<p>If, once the MVP is determined and each player's tally of SPP has been counted up, a player has sufficient SPP, they can spend them to gain an advancement. The SPP cost of each advancement is shown on the table below. The more experienced a player is, the more SPP each new advancement they gain will cost. A player is not obliged to spend their SPP until they have enough to randomly select a characteristic improvement, at which point they must spend some or all of their SPP:</p>
<div class="table-wrapper">
    <table>
        <caption>Advancements Table</caption>
        <thead>
        <tr>
            <th scope="row"></th>
            <th scope="row">Randomly select a Primary skill</th>
            <th scope="row">Choose a Primary skill or randomly select a Secondary skill</th>
            <th scope="row">Choose a Secondary skill</th>
            <th scope="row">Randomly select a characteristic improvement</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Experienced (first advancement)</th>
            <td>3 SPP</td>
            <td>6 SPP</td>
            <td>12 SPP</td>
            <td>18 SPP</td>
        </tr>
        <tr>
            <th scope="row">Veteran (second advancement)</th>
            <td>4 SPP</td>
            <td>8 SPP</td>
            <td>14 SPP</td>
            <td>20 SPP</td>
        </tr>
        <tr>
            <th scope="row">Emerging Star (third advancement)</th>
            <td>6 SPP</td>
            <td>12 SPP</td>
            <td>18 SPP</td>
            <td>24 SPP</td>
        </tr>
        <tr>
            <th scope="row">Star (fourth advancement)</th>
            <td>8 SPP</td>
            <td>16 SPP</td>
            <td>22 SPP</td>
            <td>28 SPP</td>
        </tr>
        <tr>
            <th scope="row">Super Star (fifth advancement)</th>
            <td>10 SPP</td>
            <td>20 SPP</td>
            <td>26 SPP</td>
            <td>32 SPP</td>
        </tr>
        <tr>
            <th scope="row">Legend (sixth advancement)</th>
            <td>15 SPP</td>
            <td>30 SPP</td>
            <td>40 SPP</td>
            <td>50 SPP</td>
        </tr>
        </tbody>
    </table>
</div>
<h5>New Skills</h5>
<p>Each team roster shows the Skill categories available to each player. Players have 'Primary' access to some Skill categories, and 'Secondary' access to others. Players can gain Skills from their Primary skill categories easily, whilst gaining Skills from their Secondary skill categories is more costly in terms of SPP.</p>
<p>Choosing a Skill is simple: select a Skill category available to the player and choose a Skill from that category that the player does not already have, then reduce the player's SPP by the amount shown on the Advancements table. Finally, record the player's new Skill on your Team Draft list.</p>
<p>When a player gains a random Skill, choose the Skill category you wish to generate the Skill from and roll two D6, one after the other, on the Skill table on <a href="#p74">page 74</a> (re-rolling if the player already has that Skill or if they roll a Skill they cannot have) and reduce the player's SPP by the amount shown on the Advancements table. Finally, record the player's new Skill on your Team Draft list.</p>
<p>Note that, without exception, no player may be given as a new Skill a Skill that they already have. For example, you may not give a player with the Mighty Blow (+X) skill the same Skill again in an attempt to improve the effect of the Skill.</p>
<h5>Characteristic Improvements</h5>
<p>Rather than spend SPP on a new Skill, a player may spend SPP to improve a characteristic. To do so, simply reduce the player's SPP by the amount shown on the Advancements table, roll D16 on the table below and record the player's improved characteristic on your Team Draft list:</p>
<div class="table-wrapper">
    <table>
        <caption>Characteristic Improvement Table</caption>
        <thead>
        <tr>
            <th scope="col">D16</th>
            <th scope="col">Result</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1-7</th>
            <td>Improve either MA or AV by 1 (or choose a Secondary skill).</td>
        </tr>
        <tr>
            <th scope="row">8-13</th>
            <td>Improve either MA, PA or AV by 1 (or choose a Secondary skill).</td>
        </tr>
        <tr>
            <th scope="row">14</th>
            <td>Improve either AG or PA by 1 (or choose a Secondary skill).</td>
        </tr>
        <tr>
            <th scope="row">15</th>
            <td>Improve either ST or AG by 1 (or choose a Secondary skill).</td>
        </tr>
        <tr>
            <th scope="row">16</th>
            <td>Improve a characteristic of your choice by 1.</td>
        </tr>
        </tbody>
    </table>
</div>
<p>Note that no characteristic can ever be improved more than twice, or above the maximum value shown on <a href="#p28">page 28</a>. Should you randomly select a characteristic that cannot be improved or that you do not wish to improve, the player may instead choose a Secondary skill.</p>
<p>In the case of Movement Allowance, Strength or Armour Value, this means the characteristic is increased by 1. In the case of Agility or Passing Ability, however, the characteristic is lowered by 1. For example, if a player with AG4+ improves their Agility, the characteristic would become AG3+.</p>
