<h5>Value Increase</h5>
<p>As players gain advancements, their value increases. To reflect this, whenever a player spends SPP to gain an advancement, their Current Value must be increased on the Team Draft list, as described on <a href="#p30">page 30</a>, by the amount shown on the table below:</p>
<h6>Current Value Increase Table</h6>
<div class="table-wrapper">
    <table>
        <thead>
        <tr>
            <th scope="col">New Skills</th>
            <th scope="col">Value Increase</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Randomly selected Primary skill</th>
            <td>+10,000 gp</td>
        </tr>
        <tr>
            <th scope="row">Chosen Primary skill</th>
            <td>+20,000 gp</td>
        </tr>
        <tr>
            <th scope="row">Randomly selected Secondary skill</th>
            <td>+20,000 gp</td>
        </tr>
        <tr>
            <th scope="row">Chosen Secondary skill</th>
            <td>+40,000 gp</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="table-wrapper">
    <table>
        <thead>
        <tr>
            <th scope="col">Characteristic Improvement</th>
            <th scope="col">Value Increase</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">+1 AV</th>
            <td>+10,000 gp</td>
        </tr>
        <tr>
            <th scope="row">+1 MA or +1PA</th>
            <td>+20,000 gp</td>
        </tr>
        <tr>
            <th scope="row">+1 AG</th>
            <td>+40,000 gp</td>
        </tr>
        <tr>
            <th scope="row">+1 ST</th>
            <td>+80,000 gp</td>
        </tr>
        </tbody>
    </table>
</div>
<h4>4. Hiring, Firing and Temporarily Retiring</h4>
<p>Players are prone to injury, and even the biggest superstars can find themselves looking for work elsewhere if their injuries outweigh their abilities. After all, there are always fresh-faced rookies looking to make a name for themselves for a fraction of the cost! Similarly, coaches will often hire and fire Sideline Staff on a regular basis to manage their overheads. During this step of the post-game sequence a team may:</p>
<ul>
    <li>Spend any amount of gold from the Treasury to buy new players from your team roster and/or Sideline Staff and increase Team Value accordingly.</li>
    <li>Fire any players and/or Sideline Staff who are no longer required, deleting them from the Team Draft list and reducing Team Value accordingly.</li>
    <li>Purchase additional team re-rolls, but must pay double to do so, as described on <a href="#p34">page 34</a>.</li>
    <li>Permanently hire any Journeymen that played for the team during this game:
        <ul>
            <li> A team must have fewer than 16 players on its Team Draft list to permanently hire Journeymen.</li>
            <li> If permanently hired, a Journeyman loses the Loner (X+) trait but retains any SPP earned during this game or advancements gained during Step 3.</li>
            <li> If not permanently hired, Journeymen will leave and not return. Any SPP earned or advancements gained are lost.</li>
        </ul>
    </li>
</ul>
<h5>Temporarily Retiring</h5>
<p>During the post-game sequence of a game in which a player suffers a Lasting Injury result on the Casualty table, that player may be given time off to recover. Taking some time off may allow them to return fit and healthy for next season should you wish to re-draft your team (see <a href="#p100">page 100</a>).</p>
<p>When a player Temporarily Retires (TR), make a note in the appropriate box on your Team Draft List. They remain as part of your team and are not deleted from your Team Draft List. They cannot take part in any further games this season but they will still count towards both the maximum number of players of their type allowed by the team roster, and the 16 player maximum. Finally, whilst their Current Value is counted when working out Team Value, it is not counted when working out Current Team Value.</p>
