<h4>5. Expensive Mistakes</h4>
<p>As any Blood Bowl coach knows, there's nothing more risky than a large sum of gold in the team treasury. Whenever a team has money to burn, someone will come along with a tinderbox! Whether the tabloids need paying off to avoid a scandal, a local innkeeper demands compensation for damages or an errant cheerleader bets the treasury on a squig fight, most coaches agree that it's not worth holding onto big sums of cash. If you have 100,000 gold pieces or more stored in your Treasury during this step of the post-game sequence, roll a D6 on the following table, applying the result from the column that corresponds to the number of gold pieces in your Treasury.</p>
<div class="table-wrapper">
    <table>
        <thead>
        <tr>
            <th scope="col">D6</th>
            <th scope="col">Up to 195,000 gold pieces</th>
            <th scope="col">200,000 to 295,000 gold pieces</th>
            <th scope="col">300,000 to 395,000 gold pieces</th>
            <th scope="col">400,000 to 495,000 gold pieces</th>
            <th scope="col">500,000 to 595,000 gold pieces</th>
            <th scope="col">600,000+ gold pieces</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Minor Incident</td>
            <td>Minor Incident</td>
            <td>Major Incident</td>
            <td>Major Incident</td>
            <td>Catastrophe</td>
            <td>Catastrophe</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Crisis Averted</td>
            <td>Minor Incident</td>
            <td>Minor Incident</td>
            <td>Major Incident</td>
            <td>Major Incident</td>
            <td>Catastrophe</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Crisis Averted</td>
            <td>Crisis Averted</td>
            <td>Minor Incident</td>
            <td>Minor Incident</td>
            <td>Major Incident</td>
            <td>Major Incident</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Crisis Averted</td>
            <td>Crisis Averted</td>
            <td>Crisis Averted</td>
            <td>Minor Incident</td>
            <td>Minor Incident</td>
            <td>Major Incident</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Crisis Averted</td>
            <td>Crisis Averted</td>
            <td>Crisis Averted</td>
            <td>Crisis Averted</td>
            <td>Minor Incident</td>
            <td>Minor Incident</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Crisis Averted</td>
            <td>Crisis Averted</td>
            <td>Crisis Averted</td>
            <td>Crisis Averted</td>
            <td>Crisis Averted</td>
            <td>Minor Incident</td>
        </tr>
        </tbody>
    </table>
</div>
<ul>
    <li>
        <strong>Crisis Averted:</strong> Thanks to some careful management, your team behaves itself for once!
    </li>
    <li>
        <strong>Minor Incident:</strong> The team gets up to some mischief and you lose D3 x 10,000 gold pieces from your Treasury.
    </li>
    <li>
        <strong>Major Incident:</strong> Half the gold in your Treasury (rounding down to the nearest 5,000 gold pieces) is lost to an unfortunate mishap.
    </li>
    <li>
        <strong>Catastrophe:</strong> Your Treasury is emptied, except for 2D6 x 10,000 gold pieces which you sensibly squirreled away for just such an occurrence.
    </li>
</ul>
<h4>6. Prepare for Next Fixture</h4>
<p>In preparation for the next fixture, make sure both your Team Value and Current Team Value are up to date.</p>
<dl>
    <dt>Team Value (TV):</dt>
    <dd>As described on <a href="#p35">page 35</a>, this is worked out by adding up the current value of all of the team's players, plus the cost of all Sideline Staff and team re-rolls the team has.</dd>
    <dt>Current Team Value (CTV):</dt>
    <dd>This is worked out exactly as above, but minus the current value of any players that suffered a Miss Next Game Casualty table result during this game and will be unavailable to play next game. Remember to include the current value of any players that missed this game; they have now recovered from their injuries and are fit to play in the next game.</dd>
</dl>