<h3>Skills</h3>
<p>The following pages feature the complete list of Skills and Traits available to players. Be they Skills a player starts with, or Skills gained during the course of a league, all players will have a degree of access to General, Agility, Strength and Passing skills, and many will have access to Mutations. Traits are more unique, the result of a player's nature rather than something they can learn.</p>
<h4>Skill Use</h4>
<p>Players that are Standing and have not lost their Tackle Zone can use their Skills or Traits at any time, not just during their own activation. Players that are Prone or Stunned, or that have lost their Tackle Zone for any reason, cannot use any Skills or Traits unless otherwise stated in the Skill or Trait description:</p>
<ul>
    <li>You can choose to use a Skill or Trait that modifies a dice roll after the dice roll has been made.</li>
    <li>All bonuses and/or modifiers from Skills or Traits can be combined.</li>
    <li>Unless the description states otherwise, a Skill or Trait can be used by more than one player per team turn.</li>
    <li>Unless the description states otherwise, a Skill or Trait can be used multiple times during each team turn.</li>
    <li>Unless a Skill or Trait is marked with an asterisk (*), its use is not compulsory (i.e., you do not have to use that Skill or Trait if you do not wish to). However, the use of a Skill or Trait marked with an asterisk (*) is compulsory.</li>
</ul>
<h5>Skills</h5>
{{ include('_partials/skills-table.html.twig') }}
<h5>Traits</h5>
{{ include('_partials/traits-list.html.twig') }}