<h3>Inducements</h3>
<p>Blood Bowl teams are always looking for an advantage, be it fair or otherwise! Coaches will pay all manner of shady characters to assist their team from the sidelines or on the pitch. During the pre-game sequence of a league fixture, coaches may purchase Inducements for the game ahead by spending gold awarded as Petty Cash, taken from their Treasury or both. When creating a team for exhibition play, a coach may purchase Inducements from their Team Draft Budget.</p>
<h4>Inducements in League Play</h4>
<p>As described on <a href="#p35">page 35</a>, during the pre-game sequence of a league fixture, each team can spend gold pieces either from their Treasury, from Petty Cash (see <a href="#p38">page 38</a>) or both, to purchase any of the Inducements available to them which are then recorded on the team's Game Record sheet.</p>
<h4>Inducements in Exhibition Play</h4>
<p>When a team is drafted for exhibition play, you may spend as much or as little of your Team Draft Budget as you wish on Inducements, provided your team contains the minimum of 11 players, not including Induced Star Players.</p>
<p>If you are drafting a team for exhibition play to be used at an event or tournament, you should pay close attention to the rulespack created by the organisers, as it is quite common that not all Inducements will be allowed. Also, it is common for tournament organisers to create their own, special Inducements.</p>
<p>If two coaches are drafting teams for exhibition play between themselves, they should take a few minutes to discuss Inducements first. It is important to decide if there are any Inducements they feel should be included or any they would prefer to leave out.</p>
<h4>Common Inducements</h4>
<p>Below is a list of the common Inducements. There are many more Inducements and most teams have access to their own, unique Inducements as well. More Inducements can be found in the various Blood Bowl supplements available:</p>
<ul>
    <li>
        <strong>0-4 Temp Agency Cheerleaders</strong> – 20,000 gold pieces each
    </li>
    <li>
        <strong>0-3 Part-time Assistant Coaches</strong> – 20,000 gold pieces each
    </li>
    <li>
        <strong>0-1 Weather Mage</strong> – 30,000 gold pieces
    </li>
    <li>
        <strong>0-2 Bloodweiser Kegs</strong> – 50,000 gold pieces each
    </li>
    <li>
        <strong>0-5 Special Plays</strong> – 100,000 gold pieces each
    </li>
    <li>
        <strong>0-8 Extra Team Training</strong> – 100,000 gold pieces each
    </li>
    <li>
        <strong>0-3 Bribes</strong> – 100,000 gold pieces each (50,000 gold pieces for teams with the 'Bribery and Corruption' special rule)
    </li>
    <li>
        <strong>0-2 Wandering Apothecaries</strong> – 100,000 gold pieces each (not available to teams that cannot hire an apothecary)
    </li>
    <li>
        <strong>0-1 Mortuary Assistant</strong> – 100,000 gold pieces (only available to teams with the 'Sylvanian Spotlight' special rule)
    </li>
    <li>
        <strong>0-1 Plague Doctor</strong> – 100,000 gold pieces (only available to teams with the 'Favoured of Nurgle' special rule)
    </li>
    <li>
        <strong>0-1 Riotous Rookies</strong> – 100,000 gold pieces (only available to teams with the 'Low Cost Linemen' special rule)
    </li>
    <li>
        <strong>0-1 Halfling Master Chef</strong> – 300,000 gold pieces (100,000 gold pieces for teams with the 'Halfling Thimble Cup' special rule)
    </li>
    <li>
        <strong>Unlimited Mercenary Players</strong> – price varies
    </li>
    <li>
        <strong>0-2 Star Players</strong> – price varies
    </li>
    <li>
        <strong>0-2 (In)Famous Coaching Staff</strong> – price varies
    </li>
    <li>
        <strong>0-1 Wizard</strong> – price varies
    </li>
    <li>
        <strong>0-1 Biased Referee</strong> – price varies
    </li>
</ul>