<h5>
    <strong>0-4 Temp Agency Cheerleaders</strong> – 20,000 gold pieces each
</h5>
<p>Cheerleading isn't steady work and there are always young hopefuls looking for their big break, willing to bolster a depleted cheer squad on game day! In addition to hiring cheerleaders as permanent Sideline Staff, any team may temporarily purchase some Temp Agency Cheerleaders as Inducements. Simply increase the team's number of cheerleaders by the number Induced, up to a maximum of 16 in total, for the duration of the game.</p>
<p>At the end of the game, any Temp Agency Cheerleaders will leave the team.</p>
<h5>
    <strong>0-3 Part-time Assistant Coaches</strong> – 20,000 gold pieces each
</h5>
<p>Everyone's an expert, and if a coach is willing to pay, many will share that expertise with the team! In addition to hiring assistant coaches as permanent Sideline Staff, any team may temporarily purchase some Part-time Assistant Coaches as Inducements. Simply increase the team's number of assistant coaches by the number Induced, up to a maximum of nine in total, for the duration of the game.</p>
<p>At the end of the game, any Part-time Assistant Coaches will leave the team.</p>
<h5>
    <strong>0-1 Weather Mage</strong> – 30,000 gold pieces
</h5>
<p>Many stadium owners employ Weather Mages, paying good money for highly localised spells to control the elements to keep the fans dry and happy. Rarely does this magical climate control extend to the pitch though, unless a coach is willing to pay for the service that is! A Weather Mage is not a Wizard Inducement and a coach may Induce both a Weather Mage and a Wizard of some sort.</p>
<p>You may use a Weather Mage once per game, at the start of any one of your team turns, before activating any of your players. Roll on the Weather table, applying a modifier of +1 or +2, or -1 or -2 if desired. The resulting weather conditions are applied immediately and will last until the end of the opposition's next team turn, replacing the existing weather conditions. At the end of opposition's next team turn or the end of the drive (whichever comes first), the replaced weather conditions will return.</p>
<h5>
    <strong>0-2 Bloodweiser Kegs</strong> – 50,000 gold pieces each
</h5>
<p>Nothing says “get back in the game” like a frosty Bloodweiser Ale served straight from the keg. There's probably an official rule regarding drinking during a game, but whether it's compulsory or banned, who cares! For each Bloodweiser Keg Induced, you may apply a +1 modifier to the result of any dice rolls made during this game when rolling to see if any of your players recovers from being KO'd. Bloodweiser Kegs benefit all players currently on the team, including Journeymen, Star Players and Mercenaries.</p>
<h5>
    <strong>0-5 Special Plays</strong> – 100,000 gold pieces each
</h5> Each Special Plays Inducement purchased gives you one Special Plays card to use during the game ahead. Cards are drawn from one or more of the Special Plays card decks during the Inducements step of the pre-game sequence:
<ul>
    <li>Each Special Plays Inducement purchased allows you to draw cards from a single deck.</li>
    <li>The deck from which cards are drawn is determined by rolling a D6 and consulting the table below.</li>
    <li>For each separate Special Plays Inducement purchased, roll again on the table below.</li>
    <li>There is no limit to how many cards may be drawn from each deck, but if the second roll or any subsequent rolls give a duplicated result, you may re-roll the D6. If the D6 is re-rolled, you must accept the result of the re-roll.</li>
</ul>
<div class="table-wrapper">
    <table>
        <caption>Special Play Cards</caption>
        <thead>
        <tr>
            <th scope="col">D6</th>
            <th scope="col">DECK</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Random Events</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Dirty Tricks</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Magical Memorabilia</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Heroic Feats</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Benefits of Training</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Miscellaneous Mayhem</td>
        </tr>
        </tbody>
    </table>
</div>
<p>
    <strong>Card Selection:</strong> Once the D6 has been rolled, the appropriate Special Plays card deck is shuffled and two cards are drawn from the top. You may then read both cards before choosing one to keep and one to discard.
</p>