<h5>
    <strong>0-2 (In)Famous Coaching Staff</strong> – price varies
</h5>
<p>Although most Blood Bowl celebrities are players, with the occasional ref thrown in for good measure, there are several well-known members of coaching staff around the circuit. Many of these non-playing professionals are willing to offer out their services to other teams for the right price, bringing their expertise to the dugout.</p>
<p>(In)Famous Coaching Staff are available to purchase during the pre-game sequence at the cost listed. You may purchase up to two (In)Famous Coaching Staff who are allowed to assist your team. As with Star Players, it is possible for both teams to hire the services of the same named (In)Famous Coaching Staff (such as Josef Bugman):</p>
<ul>
    <li>If this happens during a game that is part of a league, neither team can use the (In)Famous Coaching Staff but the (In)Famous Coaching Staff will keep both hiring fees.</li>
    <li>If this happens during exhibition play, both teams can use the (In)Famous Coaching Staff – one team has clearly hired a ringer!</li>
</ul>
<p>There are too many (In)Famous Coaching Staff to list here, and most are only available to certain teams. Details of further (In)Famous Coaching Staff can be found in the various Blood Bowl supplements available.</p>
<h5>
    <strong>0-2 (In)Famous Coaching Staff Inducement: Josef Bugman</strong> – 100,000 Gold Pieces, available to any team
</h5>
<p>The name Josef Bugman is synonymous with Blood Bowl. With numerous sponsorship deals across the Old World, stocks of Bugman's XXXXXX can be found in most Blood Bowl stadia; the amber liquid making sure the crowd is suitably rowdy by kick-off. When Bugman turns up to a game in-person it is a spectacle to behold! As he enters the stadium he greets the cheering crowd. In his wake Dwarf cheerleaders dance through the crowd with beer cannon, whilst the Bugman's Blimp flies overhead dropping flagons of fine ale into the upraised hands of the spectators.</p>
<p>But Bugman is no mere spectator; the stout brewer owns and coaches numerous teams. For all his bluster, Bugman is a fair coach, having a good eye for the ebb and flow of the game – the problem arises when things don't go his team's way, or he gets excessively drunk, or some combination of the two, and he staggers out onto the field to take matters into his own hands…</p>
<h6>Bugmans XXXXXX</h6>
<p>Bugman provides players on his team with an ample supply of Bugman's XXXXXX. This most famous of Dwarf ales is renowned for its recuperative properties. When rolling to see if Knocked-out players recover, rolls of a 1 can be re-rolled.</p>
<h6>Keen Player</h6>
<p>If Bugman's team cannot set up 11 players at the start of a drive, Bugman may decide to join in himself! You can choose to set him up as part of your team. If you do so, he counts as part of the team for the duration of the drive. When the drive ends, Bugman is Sent-off for committing a Foul and has no further effect on the game – he cannot be used in a later drive. The Bugman's XXXXXX, however, is not lost; the players simply refuse to give it up! Bugman has the following profile:</p>
<div class="table-wrapper">
    <table>
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">MA</th>
            <th scope="col">ST</th>
            <th scope="col">AG</th>
            <th scope="col">PA</th>
            <th scope="col">AV</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Bugman</td>
            <td>5</td>
            <td>3</td>
            <td>3+</td>
            <td>6+</td>
            <td>9+</td>
        </tr>
        </tbody>
    </table>
</div>
<dl>
    <dt>Skills &amp; Traits</dt>
    <dd>Loner (5+), Tackle, Thick Skull, Wrestle</dd>
</dl>
