<h5>League Scoring</h5>
<p>Teams earn League points as follows:</p>
<div class="table-wrapper">
    <table>
        <tbody>
        <tr>
            <th>Win:</th>
            <td>3 League points</td>
        </tr>
        <tr>
            <th>Draw:</th>
            <td>1 League point</td>
        </tr>
        <tr>
            <th>Loss:</th>
            <td>0 League points</td>
        </tr>
        </tbody>
    </table>
</div>
<p>Additionally, league commissioners may wish to award bonus League points for the following:</p>
<div class="table-wrapper">
    <table>
        <tbody>
        <tr>
            <th>Score 3 or more touchdowns:</th>
            <td>+1 League point</td>
        </tr>
        <tr>
            <th>Concede 0 touchdowns:</th>
            <td>+1 League point</td>
        </tr>
        <tr>
            <th>Cause 3 or more Casualties (counting only those that generate SPP, as described in Step 3 of the post-game sequence):</th>
            <td>+1 League point</td>
        </tr>
        </tbody>
    </table>
</div>
<p>Each coach should record their League points on their Game Record sheet during step 1 of the post-game sequence, before reporting both the outcome of the game and the league points scored to the league commissioner.</p>
<h4>The Play-Off Season</h4>
<p>Once all league fixtures have been played in each division, the regular season comes to a close. Once all the scores are in, the league commissioner ranks the teams in order of League points, from highest to lowest, using total touchdowns as the first tiebreaker and total casualties as the second tiebreaker, if required. The top four teams in the league will go through to the play-offs as follows:</p>
<ul>
    <li>If the league consists of two divisions, the top two teams from each go through and the play-off season progresses straight to the semi-finals.</li>
    <li>If the league consists of four divisions:
        <ul>
            <li>The top team from each goes through and the play-off season progresses straight to the semi-finals.</li>
            <li>The top two teams from each go through and the play-off season commences with the quarter finals.</li>
        </ul>
    </li>
    <li>If the league consists of three divisions, the top team from each goes through. Additionally, the second place team with the highest number of league points will go through as a wild card. The play-off season progresses straight to the semi-finals.</li>
</ul>
<p>As with the regular season, these games should be played to a schedule drawn up by the league commissioner and made available to all coaches.</p>
<p>If quarter finals are being played, care should be taken to ensure that two teams from the same division do not meet in either the quarter finals or semi-finals. Once the semi-finals have been played, the two winning teams will progress to the final, and the two losing teams will meet to decide 3rd place.</p>
