<h4>Glittering Prizes</h4>
<p>Prizes are awarded to the teams who finish in 1st, 2nd and 3rd place, in addition to any winnings generated during the post-game sequence:</p>
<ul>
    <li>The team in 3rd place receives 30,000 gold pieces.</li>
    <li>The team in 2nd place receives 60,000 gold pieces.</li>
    <li>The team who finished in 1st place, the season's champion, is awarded 100,000 gold pieces and the League Trophy.</li>
</ul>
<p>These winnings should not be placed in the team's Treasury until after the Expensive Mistakes step of the post-game sequence. Therefore, these winnings cannot be lost as soon as they are won!</p>
<p>The League Trophy is held by the winners until the end of the next season, when it will be awarded to the new champions. For as long as a team holds a League Trophy, it adds an additional team re-roll to its Team Draft list, increasing its Team Value accordingly but without having to spend any gold pieces from its Treasury.</p>
<h4>The Off-season Break And Re-drafting Teams</h4>
<p>Whilst many coaches like to start each season with a brand new team, many more like to develop a favourite team over several seasons, building that team's legend over time and telling the story of fan favourites who dedicate their career to their team. The following rules allow coaches who wish to re-draft a team from one season into the next to do so.</p>
<h5>Re-Drafting</h5>
<p>Between seasons, there is a period of downtime called the 'off-season break'. Coaches and their players rest and recuperate, spend their hard-earned gold, or go on elaborate tours to promote the latest edition of their increasingly unbelievable autobiographies. After the finals have been played, any coaches who wish to re-draft their team for the next season should get together with the league commissioner and run through the following steps:</p>
<ol>
    <li>
        <strong>R&amp;R:</strong> Players that would miss the team's next game recover.
    </li>
    <li>
        <strong>RAISE FUNDS</strong>: Coaches calculate the funds available to them to re-draft their team.
    </li>
    <li>
        <strong>RE-DRAFT:</strong> Coaches complete their new Team Draft list for the season ahead.
    </li>
</ol>
<h5>1. R&amp;R</h5>
<p>During the off-season break, players have time to rest and recuperate from their injuries. Therefore, any players that suffered a Miss Next Game Casualty table result during the team's final game of the season will recover before the next season begins.</p>
<h5>2. Raise Funds</h5>
<p>When re-drafting, each team gets a Re-Draft Budget of 1,000,000 gold pieces. This represents money doled out by the league, the team's sponsors, fan clubs and generous patrons. A team that is re-drafting then adds to this anything they have left in their Treasury from the previous season, after which their Treasury is emptied (presumably having been used to cover the cost of the many unexpected expenses that arise during the off-season break). Finally, a team that is re-drafting adds the bonuses listed below:</p>
<ul>
    <li>20,000 gold pieces for each game the team played last season (both friendlies and league fixtures).
        <ul>
            <li>+20,000 gold pieces for each league fixture the team won last season.</li>
            <li>+10,000 gold pieces for each league fixture the team played last season that ended in a draw.</li>
        </ul>
    </li>
</ul>
<p>League commissioners may, at their own discretion, place a cap of 1,300,000 gold pieces on the Re-Draft Budget available to teams so that no team starts the season with too obvious an advantage.</p>
