{% set title = "Blood Bowl 2020 - Tools" %}
{% extends 'base.html.twig' %}
{% block body %}
    <header>
        <h1 style="margin-block: 0">{{ title }}</h1>
    </header>
    <main>
        <div id="teams" class="page">
            <ol class="list--tight">
                <li><a href="./rule-book">Rule Book</a></li>
                <li><a href="./reference">Reference</a></li>
            </ol>
        </div>
    </main>
{% endblock %}